<div id="cm-directory-tracker"  class="cm-directory-tracker" ng-show="layout != 2 && activeChats.length > 0">
	<div class="cm-directory-tracker-label" class="well well-sm">Conversation
		<div ng-if="layout == 1 && activeChats.length > 0" ng-click="switchLayout(3)" style="position:absolute; top:30px; right:20px; cursor:pointer;" class="pull-right fa fa-expand"></div>
		<div ng-if="layout == 3" ng-click="switchLayout(1)" style="position:absolute; top:30px; right:20px;" class="pull-right fa fa-compress"></div>
	</div>
	
	<div id="cm-directory-tracker-content" class="min-scroll" style="max-height:{{tracker_panel_size}}px;">
<!-- 		<div directory-item-scroll="isLastUnread($index) || isDirectoryItem($index)" ng-repeat="chat in activeChats track by $index"> -->
		<div ng-repeat="chat in activeChats track by $index">
			<div class="cm-directory-tracker-chat" >
				<div ng-init=""class="well well-sm cm-directory-tracker-chat-content" ng-click="setDirectoryChat($index, true); openChatModule();" ng-class="{'cm-directory-tracker-active-chat': $index == directory_index, 'cm-directory-tracker-new-chat': chat.isNewMessage == true && $index != directory_index}">
					<div class="cm-directory-tracker-chat-truncate-title">
						<span  ng-show="chat.isGroupChat == false" class="glyphicon glyphicon-user pull-left" ng-class="{'Online' : chat.to_user_chat_presence.$value == 'Online' && chat.to_user_online.$value == true }"></span>
						<span class="pull-left" ng-show="chat.isGroupChat == true">
							<i  class="fa fa-comments"></i>
							<span ng-if="!chat.isDirectoryChat">({{chat.group_count}})</span>
						</span>
						<span ng-show="chat.to_user_chat_presence.$value != 'Busy'" style="position:relative; margin-left:2px;" ng-bind="chat.tag || chat.chat_description || chat.to_user_name" ng-class="{'Busy' : chat.to_user_chat_presence.$value != 'Online' && chat.isGroupChat === false}"></span><!--Name of the Person the user is Chatting, hover when group chat to display of participating users --> 
						<span class="Busy" ng-show="chat.to_user_chat_presence.$value == 'Busy' && chat.isGroupChat == false">{{chat.to_user_f_name}} is Busy</span> <!-- Show only when User sets chat-presence to busy --> 
						<span><i ng-show="$index != directory_index && chat.active_typing_user_socket.$value == true" class="fa fa-spinner fa-spin cm-directory-tracker-typing"></i></span> <!-- Activates when someone is typing a message to the user --> 
					</div>
					<span ng-show="$index != directory_index && chat.unread > 0" class="badge cm-directory-tracker-item-unread-count" ng-class="{'chat-new-message': chat.isNewMessage == true}" ng-bind="chat.unread"></span> <!-- Displays the count of any messages received while the chat box was closed --> 
					<div class="cm-directory-tracker-icons"> <!-- option icons -->
						<span ng-click="removeChatSession(chat)" class="glyphicon glyphicon-remove pull-right" style="color:red;"></span> <!-- Displays whether sound is enabled for this chat -->
						<span ng-init="chat.isSound = true" ng-click="toggleChatSound(chat)" style="margin-right:2px;" class="pull-right" ng-class="{'glyphicon glyphicon-volume-up' : chat.isSound == true, 'glyphicon glyphicon-volume-off' : chat.isSound == false}"></span> <!-- Displays whether sound is enabled for this chat -->
					</div>
				</div><!-- End of Upper Chat header --> 
			</div>
		</div>
	</div>
	<div class="cm-directory-tracker-label-bottom" class="well well-sm">Tracker</div>
</div>