<div  class="cm-main-panel-chat-panel-content" style="height:{{cm_directory_chat_height + vertical_adjust}}px; background:rgba(69,106,151,0.3);">
	<div class="cm-main-panel-label" style="top:-5px; padding:0px;">
		<div class="cm-main-label-decal one-edge-shadow">
			<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}" style="font-size:1.5em">Plusone Peeps</div>
			  <div ng-click="toggleFilterMenu()" style="position:absolute; top:12px; right:15px; width:20px; height:20px; padding:2px; margin:0px;" class="btn btn-sm">
			    <center><span class="caret"></span><center>
			  </div>
			  <ul ng-if="showFilterMenu" class="cm-filter-menu pull-right" style="padding:2px;">
			    <li ng-show="directory_show_online_only"><a ng-click="toggleOffline()">Show Offline</a></li>
			    <li ng-show="!directory_show_online_only"><a ng-click="toggleOffline()">Hide Offline</a></li>
<!--
			    <li role="presentation" class="dropdown-header">Filter By Position:</li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Admin</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SM / Shift Manager</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MC / Mentor Coach</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PC / Peer Coach</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PlusOne Agent</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">On Shift</a></li>

-->
			  </ul>
		</div>
	</div>
	<div id="chat-module-contacts-display" class="cm-main-panel-chat-panel-content min-scroll" style="height:{{cm_directory_chat_message_display_height + (vertical_adjust)}}px; overflow-y:auto; overflow-x:hidden;">
		<div ng-show="directory_search.text.length == 0">
			<div ng-show="smod">
				<div class="cm-main-panel-label" style="top:-5px;">
					<div class="cm-main-label-decal one-edge-shadow">
						<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}">Shift Manger On Duty</div>
					</div>
				</div>
				<div ng-show="smod" ng-click="chat(smod)" class="cm-main-panel-contact cm-pointer">
					<img ng-src="/components/com_callcenter/images/avatars/{{smod.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="smod.name"></span><div class="chat-status {{smod.state + '_Directory_Status'}}"></div>
				</div>
			</div>
			<div ng-show="tod">
				<div class="cm-main-panel-label">
					<div class="cm-main-label-decal one-edge-shadow">
						<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}">Tech Manger On Duty</div>
					</div>
				</div>
				<div ng-show="tod" ng-click="chat(tod)" class="cm-main-panel-contact cm-pointer">
					<img ng-src="/components/com_callcenter/images/avatars/{{tod.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="tod.name"></span><div class="chat-status {{tod.state + '_Directory_Status'}}"></div>
				</div>
			</div>
			<div ng-if="admin &&  admin.online.$value && user_profile.role == 'Mentor Coach'">
				<div class="cm-main-panel-label">
					<div class="cm-main-label-decal one-edge-shadow">
						<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}">Performance Manager</div>
					</div>
				</div>
				<div ng-click="chat(admin)" ng-class="{'cm-main-panel-contact-online': admin.online.$value == true, 'cm-main-panel-contact-offline': admin.online.$value != true}">
					<img ng-src="/components/com_callcenter/images/avatars/{{admin.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="admin.name"></span><div class="cm-main-panel-contact-status chat-status {{admin.state.$value + '_Directory_Status'}}"></div>
				</div>
			</div>

			<div ng-if="mc && mc.online.$value">
				<div class="cm-main-panel-label">
					<div class="cm-main-label-decal one-edge-shadow">
						<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}">MC - Mentor Coach</div>
					</div>
				</div>
				<div ng-click="chat(mc)" ng-class="{'cm-main-panel-contact-online': mc.online.$value == true, 'cm-main-panel-contact-offline': mc.online.$value != true}">
					<img ng-src="/components/com_callcenter/images/avatars/{{mc.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="mc.name"></span><div class="cm-main-panel-contact-status chat-status {{mc.state.$value + '_Directory_Status'}}"></div>
				</div>
			</div>

			<div ng-if="pc && pc.online.$value">
				<div class="cm-main-panel-label">
					<div class="cm-main-label-decal one-edge-shadow">
						<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}">PC - Peer Coach</div>
					</div>
				</div>
				<div ng-click="chat(pc)" ng-class="{'cm-main-panel-contact-online': pc.online.$value == true, 'cm-main-panel-contact-offline': pc.online.$value != true}">
					<img ng-src="/components/com_callcenter/images/avatars/{{pc.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="pc.name"></span><div class="cm-main-panel-contact-status chat-status {{pc.state.$value + '_Directory_Status'}}"></div>
				</div>
			</div>
		</div>

		<div ng-show="directory_search.text.length == 0" class="cm-main-panel-label">
			<div class="cm-main-label-decal one-edge-shadow">
				<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}">Online</div>
			</div>
		</div>
		<div ng-repeat="user in online_users_list | array | orderBy:['name'] | filter:directory_search.text">
			<div ng-show="showInGeneralDirectory(user)" ng-click="chat(user)" class="cm-main-panel-contact-online" ng-class="{'cm-main-panel-active-selection':isCurrentDirectorySelection(user.user_id)}">
				<img ng-src="/components/com_callcenter/images/avatars/{{user.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="user.name"></span><div class="cm-main-panel-contact-status chat-status {{user.state}}_Directory_Status"></div>
			</div>
		</div>

		<div ng-if="directory_search.text.length == 0 && directory_show_online_only == false" class="cm-main-panel-label">
			<div class="cm-main-label-decal one-edge-shadow">
				<div ng-class="{'cm-main-label-decal-description': browser == 'Firefox','cm-main-label-decal-description-inset': browser != 'Firefox'}">Offline</div>
			</div>
		</div>
		<div ng-if="!directory_show_online_only" ng-repeat="user in offline_users_list | array | orderBy:'name' | filter:directory_search.text" ng-class="{'cm-main-panel-active-selection':isCurrentDirectorySelection(user.user_id)}">
			<div ng-show="showInGeneralDirectory(user)" ng-click="chat(user)" class="cm-main-panel-contact-offline">
				<img ng-src="/components/com_callcenter/images/avatars/{{user.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="user.name"></span><div class="cm-main-panel-contact-status chat-status Offline_Directory_Status"></div>
			</div>
		</div>
		</div>
	<div id="cm-main-panel-contacts-search" style="position:relative; margin-top:5px;">
		<div class="input-group input-group-sm">
			<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
			<input ng-click="setModuleLock()" type="text" class="form-control" placeholder="Enter Name..." ng-model="directory_search.text" ng-enter-press="selectDirectorySelection()" focus-me="directory_search.isFocusText" ng-tab-press="setNexTab()">
		</div>
	</div>
	<div class="topic-spacer"></div>
</div>
