<div style="position:relative; height: 90%;width:96%; margin:0px auto; margin-top:5%; background:rgba(255,255,255,.8); overflow-y:auto; overflow-x:hidden;" class="well well-sm well-slim min-scroll">
	<div>
		<span class="cm-profile-span-label">Profile</span>
		
	</div>
	<div style="width:100%; display:block; min-height:20px;">
		<div style="width:40%; padding:2px; float:left">
			<img class="thumbnail one-edge-shadow" style="; clear:none; width:100%; height:100%; max-width:100%; max-height:100%; margin:0px;" ng-src="/components/com_callcenter/images/avatars/{{avatar}}-90.jpg" alt="...">
		</div>
		<div <div style="width:60%; padding:4px; float:left">
			<div class="well well-sm well-slim">
				<span class="cm-profile-span">{{name}}<br></span>
				<span class="cm-profile-span"ng-if="data.role">{{data.role}}<br></span>
				<span ng-if="data.pc" class="cm-profile-span"ng-if="data.role" style="font-size:.8em;" >PC: {{data.pc.name}}<br></span>
				<span ng-if="data.mc" class="cm-profile-span"ng-if="data.role" style="font-size:.8em;" >MC: {{data.mc.name}}<br></span>
				
			</div>
		</div>
	</div>
	<div style="width:100%; display:block; float:left; padding:2px; margin-top:2px;">
		<div ng-if="data.phone" class="well well-sm well-slim">
			<span class="cm-profile-span-label">Phone</span>
			<span class="cm-profile-span">{{data.phone}}</span>
		</div>
		<div ng-if="data.email" class="well well-sm well-slim">
			<span class="cm-profile-span-label">Email</span>
			<span class="cm-profile-span">{{data.email}}</span>
		</div>
		
		<div ng-show="online && data.city && data.state || online && data.checkInTime" class="well well-sm well-slim">
			<span class="cm-profile-span-label">Sign-In</span>
			<span ng-show="!data.office && data.city && data.state"class="cm-profile-span">{{data.city +', ' + data.state}}</span>
			<span ng-show="data.office" class="cm-profile-span">{{data.office}}</span>
			<span ng-show="data.checkInTime" ng-show="data.checkInTime"class="cm-profile-span">{{data.checkInTime | date:'MM/dd @ h:mma'}}</span>
		</div>
		
		<div ng-show="!online && data.city && data.state || !online && data.checkOutTime" class="well well-sm well-slim">
			<span class="cm-profile-span-label">Sign-Out</span>
			<span ng-show="!data.office && data.city && data.state" class="cm-profile-span">{{data.city +', ' + data.state}}</span>
			<span ng-show="data.office" class="cm-profile-span">{{data.office}}</span>
			<span ng-show="data.checkOutTime"class="cm-profile-span">{{data.checkOutTime | date:'MM/dd @ h:mma'}}</span>
		</div>
		<div  ng-show="inAdminGroup()">
			<div ng-show="data.platform" class="well well-sm well-slim">
				<span class="cm-profile-span-label">Platform</span>
				<span class="cm-profile-span">Browser: {{data.platform.browser + ' | ' + data.platform.browserVersion}}</span>
				<span class="cm-profile-span">Operating System: {{data.platform.os + ' | ' +  data.platform.osVersion}}</span>
				<span class="cm-profile-span">Flash: {{data.platform.flashVersion == 'no check' ? 'N/A' : data.platform.flashVersion}}</span>
				<span class="cm-profile-span">Cookies: {{data.platform.cookies == true ? 'Enabled' : 'Disabled'}}</span>
				<span ng-if="!data.platform.mobile" class="cm-profile-span">Device: {{'Computer' + ' | ' + data.platform.screen}}</span>
				<span ng-if="data.platform.mobile" class="cm-profile-span">Device: {{'Mobile | ' + data.platform.screen}}</span>
				<span ng-show="!data.office && data.isp" class="cm-profile-span">ISP: {{data.isp}}</span>
				<span ng-show="!data.office && data.platform.ip && user == 113" class="cm-profile-span">IP: {{data.platform.ip}}</span>
			</div>
			<div  ng-show="data.lng != null && data.lat != null" class="well well-sm well-slim">
				<img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{data.lat}},{{data.lng}}&markers={{data.lat}},{{data.lng}}&zoom=8&size=300x300&sensor=false" style="max-width:100%; max-height:100%;"alt="Aproximate location of your internet connection">
			</div>
		</div>
	</div>
</div>