<div class="cm-main-panel-chat-panel-content"  style=" position:relative; display:block; width:100%; height:{{cm_directory_chat_height + vertical_adjust}}px; background:rgba(69,106,151,0.3);" ng-class="{'chat-slide-enter': directory_index == null}">
	<div class="cm-main-panel-label" style="height:{{chat_label_height}}px; background:white;">
		<i ng-click="toggleUserOptions(sm_tech_chat);" class="fa fa-wrench cm-pointer pull-left" style="position:relative; top:2px; margin-left:2px; font-size:1.4em;"></i>
		<span style="margin-left:2px; padding:2px;" class = "pull-left"><span style="font-size:1.1em; margin-right:5px;"ng-bind="sm_tech_chat.chat_description"></span><span ng-show="sm_tech_chat.isMorePrev && sm_tech_chat.group_chats.length"  ng-click="loadMoreGroupChat(sm_tech_chat)" ng-class="{'glyphicon glyphicon-circle-arrow-up cm-pointer pull-right': sm_tech_chat.reload != true , 'fa fa-refresh fa-spin pull-right': sm_tech_chat.reload == true}"></span></span>
		<span href="#" class="cm-main-panel-chat-header-icon pull-right" style="margin-right:5px;" ng-click="sm_tech_chat.isSound = !sm_tech_chat.isSound; updateChatSettings(sm_tech_chat);" ng-class="{'glyphicon glyphicon-volume-up' : sm_tech_chat.isSound == true || sm_tech_chat.isSound == 'true', 'glyphicon glyphicon-volume-off' : sm_tech_chat.isSound == false}"></span> <!-- Displays whether sound is enabled for this chat -->
		<span href="#" class="cm-main-panel-chat-header-icon pull-right" style="margin-right:5px;" ng-click="sm_tech_chat.monitor = !sm_tech_chat.monitor; updateChatSettings(sm_tech_chat);" ng-class="{'fa fa-eye' : sm_tech_chat.monitor == true, 'fa fa-eye faded' : sm_tech_chat.monitor != true}"></span>
		<div ng-show="sm_tech_chat.addTopicOn" class="cm-main-panel-chat-add-topic-wrapper" ng-submit="addTopic(sm_tech_chat)">
			<form class="form slim" role="form">
				<div class="form-group slim">
					<input style="width:100%;" type="text" spellcheck="true"  pattern=".{5,40}" maxlength="35" required title="5 characters minimum"  class="topic-input" class="form-control" placeholder="Enter a topic for this chat..." ng-model="sm_tech_chat.topic_description"  ng-focus="sm_tech_chat.isTopicFocus">
				</div>
				<button type="submit" style="width:0px;" class='hidden' </button> <!-- hidden -->
			</form>
			<div class="row slim" style="margin-top:3px; height:2px;">
				<hr style="color:white; background:white; clear:both; ">
			</div>
		</div>
	</div>

	<div id="{{'topic_' + sm_tech_chat.session_key + '_wrapper'}}" ng-show="sm_tech_chat.topic_location.$value != false && sm_tech_chat.topic_location.$value != null " ng-click="clearDirectory(sm_tech_chat)" class="cm-main-panel-chat-topic-wrapper">
	<span ng-click="toggleTopic(sm_tech_chat)" class="cm-chat-topic-icon glyphicon glyphicon-pushpin pull-left"></span>
		<div class="cm-main-panel-chat-topic min-scroll"  ng-class="{'truncated':sm_tech_chat.isTopicTruncated == true}">
			<span id="{{'topic_' + sm_tech_chat.session_key}}" maxlength=60 ng-enter="updateTopic(sm_tech_chat)" contenteditable="{{user_profile.role == 'Shift Manager'}}"  ng-class="{'selectable' : sm_tech_chat.admin == sm_tech_chat.user_id ,'no-select' : sm_tech_chat.admin != sm_tech_chat.user_id}"  ng-bind="sm_tech_chat.topic_location.$value"></span>
		</div>
		<span href="#" ng-if="user_profile.role == 'Shift Manager'" ng-click="removeTopic(sm_tech_chat)" class="cm-chat-topic-close glyphicon pull-right glyphicon-remove"></span>
	</div>

	<div chat-anim ng-show="sm_tech_chat.showUserOptions == true" class="cm-main-panel-chat-user-option-wrapper">
<!--
		<div href="#" class="cm-chat-user-option" ng-click="toggleChatSound(sm_tech_chat)">
			<span href="#" class="no-select" ng-class="{'glyphicon glyphicon-volume-up' : sm_tech_chat.isSound == false || sm_tech_chat.isSound == 'false', 'glyphicon glyphicon-volume-off' : sm_tech_chat.isSound == true || sm_tech_chat.isSound == 'true'}"></span>
			<span class="option-text" ng-show="sm_tech_chat.isSound == false || sm_tech_chat.isSound == 'false'" >Sound On</span>
			<span class="option-text" ng-show="sm_tech_chat.isSound == true || sm_tech_chat.isSound == 'true'" href="#">Sound Off</span>
		</div>
-->

		<div ng-if="user_profile.user_id == 113 || user_profile.user_id == 379 || user_profile.user_id == tod.user_id" class="cm-chat-user-option"  ng-click="toggleImage(sm_tech_chat)" > <!-- Option to add topic to chat -->
			<span href="#" class="fa fa-camera"></span>
			<span class="option-text">Add Image</span>
		</div>

		<div ng-if="user_profile.user_id == 113 || user_profile.user_id == 379 || user_profile.user_id == tod.user_id"class="cm-chat-user-option"  ng-click="toggleVideo(sm_tech_chat)" > <!-- Option to add topic to chat -->
			<span href="#" class="fa fa-youtube-square"></span>
			<span class="option-text">Add Video</span>
		</div>

		<div ng-if="sm_tech_chat.topic_location.$value == false">
			<div ng-if="user_profile.role == 'Shift Manager'" class="cm-chat-user-option"  ng-click="addTopicOn(sm_tech_chat)" > <!-- Option to add topic to chat -->
				<span href="#" class="glyphicon glyphicon-pushpin"></span>
				<span class="option-text">Add Topic</span>
			</div>
		</div>

		<div class="cm-chat-user-option" ng-click="clearHistory(sm_tech_chat);" > <!-- Option to send chat history to user email -->
			<span href="#" class="fa fa-undo"></span>
			<span class="option-text">Clear History</span>
		</div>
		<div class="cm-chat-user-option" ng-click="sendChatReceipt(sm_tech_chat)" > <!-- Option to send chat history to user email -->
			<span href="#" class=" glyphicon glyphicon-envelope"></span>
			<span class="option-text">Chat Receipt</span>
		</div>
	</div> <!-- end of user option pop up -->
	<div ng-show ="sm_tech_chat.emotions == true;" class="well well-sm slim cm-main-panel-chat-content-wrapper min-scroll" style="display:block; width:100%; height:{{cm_directory_chat_message_display_height + vertical_adjust}}px;">
		<div ng-repeat="emo in emojis track by $index ">
			<span ng-click="addEmoji(emo, sm_tech_chat);" style="float:left;" ng-bind-html="emo | emoji" ></span>
		</div>
	</div>

	<div ng-show="sm_tech_chat.addVideo" class="well well-sm slim cm-main-panel-chat-content-wrapper min-scroll" style="display:block; width:100%; height:{{cm_directory_chat_message_display_height - (vertical_adjust - sm_tech_chat.topic_height)}}px;">
		<span ng-click="toggleVideo(sm_tech_chat)" class="glyphicon glyphicon-remove cm-close-profile cm-pointer" style="color:red;"></span>
		<cm-video ng-init="chat = sm_tech_chat"></cm-video>
	</div>


	<div ng-show="sm_tech_chat.addImage" class="well well-sm slim cm-main-panel-chat-content-wrapper min-scroll" style="display:block; width:100%; height:{{cm_directory_chat_message_display_height - (vertical_adjust - sm_tech_chat.topic_height)}}px;">
		<span ng-click="toggleImage(sm_tech_chat)" class="glyphicon glyphicon-remove cm-close-profile cm-pointer" style="color:red;"></span>
		<cm-image ng-init="chat = sm_tech_chat"></cm-image>
	</div>

	<div  scroll-to-bottom="sm_tech_chat.scroll_bottom == true" scroll-to-top="sm_tech_chat.scroll_top == true" stick-to-bottom="sm_tech_chat.stick_to_bottom" id="{{'message_display_' + sm_tech_chat.index_position}}" ng-click="clearDirectory(sm_tech_chat)" class="cm-main-panel-chat-message-display min-scroll" style="display:block; width:100%; height:{{cm_directory_chat_message_display_height + vertical_adjust}}px;" ng-class="{'chat-fade-out cm-no-scroll': isReloading(sm_tech_chat)}">
		<div ng-if="chat.isTopSpacer"></div>
		<div style="height:{{sm_tech_chat.topic_height}}px;"></div>
		<div class="cm-main-panel-chat-message-section">
			<!-- Start of messages for an individual chat  -->
			<div ng-show="sm_tech_chat.addTopicOn" class="med-spacer "></div>
			<div ng-repeat=" message in sm_tech_chat.group_chats track by $index">
				<div class="cm-chat-spacer"  ng-show = "!(message.from_prev_author)"></div>



				<div ng-if="message.author == sm_tech_chat.internal_reference"> <!-- ng show if this is an internal chat message -->
					<div class="cm-main-panel-chat-internal-message">
						<p ng-if="!message.code" class="internal-chat text-muted" style="word-wrap: break-word" ng-bind-html="message.text | linky:'_blank' | emoji "></p>
					</div>
				</div>

				<div ng-if="message.author != sm_tech_chat.internal_reference" > <!-- ng-repeat of messgaes stored as a group chat -->
					<div ng-init="getAuthorAvatar(message, false); isMessagePastHour(message, sm_tech_chat.time_reference); isLastMessagePastMinute(message, sm_tech_chat.group_chats[$index-1].time); isAuthorSameAsLast(message, sm_tech_chat.group_chat_log[$index-1]); isMessageFromUser(message);"></div>
					<div  class="cm-chat-message-body" > <!-- ng-show if this is not an internal chat message -->
						<div ng-if="message.author == sm_tech_chat.user_id && sm_tech_chat.group_chat_log[$index-1] != message.author " class="cm-chat-message-avatar-left"  >
							<center><img ng-src="{{message.avatar}}" class="cm-chat-message-avatar one-edge-shadow" alt="..."></center>
<!-- 							<div class="alert-info-left"></div> -->
						</div>
						<div ng-if="message.author != sm_tech_chat.user_id && !(message.from_prev_author)" class="cm-chat-message-avatar-right"  >
							<center><img ng-dblclick="chat(sm_tech_chat.user_log['user_' + message.author])" ng-src="{{message.avatar}}" class="cm-chat-message-avatar  one-edge-shadow" alt="..."></center>
<!-- 							<div class="cm-main-panel-chat-speek-arrow-right"></div> -->
						</div>
						<div ng-show="sm_tech_chat.group_chat_log[$index-1] != message.author" class="cm-chat-message-timestamp cm-chat-message-timestamp-border" ng-class="{'author-is-other' : message.author != sm_tech_chat.user_id, 'author-is-self' : message.author == sm_tech_chat.user_id, 'pushLeft' : message.author == sm_tech_chat.user_id }">
							<span class="cm-chat-message-name-left"  ng-show="message.author != sm_tech_chat.user_id" ng-bind="message.authorName"></span>
							<span class="cm-chat-message-name-right" ng-show="message.author == sm_tech_chat.user_id" ng-bind="sm_tech_chat.self_name"></span>
							<div ng-class="{'cm-chat-message-timestamp-right' : message.author == sm_tech_chat.user_id, 'cm-chat-message-timestamp-left' : message.author != sm_tech_chat.user_id}">
								<span ng-show="message.past_hour" ng-bind="message.time | date:'MM/dd @ h:mma'"></span>
								<span ng-show="!(message.past_hour)" ng-bind="message.time | {{sm_tech_chat.time_format}}"></span>
							</div>
						</div>
						<div ng-class="{'alert-info' : message.author != sm_tech_chat.user_id, 'cm-self' : message.author == sm_tech_chat.user_id ,'cm-chat-message-new-left no-radius' : sm_tech_chat.group_chat_log[$index-1] != message.author, 'cm-chat-message-new-right no-radius' : sm_tech_chat.group_chat_log[$index-1] == message.author, 'chat_extend_left no-radius' : sm_tech_chat.group_chat_log[$index-1] != message.author &&  message.author != sm_tech_chat.user_id ,'chat_extend_right no-radius' : sm_tech_chat.group_chat_log[$index-1] == message.author && message.author == sm_tech_chat.user_id,'rounded-bottom one-edge-shadow' : $last || sm_tech_chat.group_chat_log[$index+1] != message.author}">
							<div ng-class="{'cm-main-panel-chat-speek-arrow-right':message.author != sm_tech_chat.user_id && !message.from_prev_author || message.author != sm_tech_chat.user_id && message.time_lapse,'cm-main-panel-chat-speek-arrow-left':message.author == sm_tech_chat.user_id && !message.from_prev_author || message.author == sm_tech_chat.user_id &&  message.time_lapse}"></div>
							<div ng-show="message.from_prev_author && message.minute_from_last" class="cm-chat-extend-timestamp" ng-class="{'author-is-other-color' : message.author != sm_tech_chat.user_id, 'author-is-self-color' : message.author == sm_tech_chat.user_id}">
								<span ng-show="message.past_hour" ng-bind="message.time | date:'MM/dd @ h:mma'"></span>
								<span ng-show="!(message.past_hour)" ng-bind="message.time | {{sm_tech_chat.time_format}}"></span>
							</div>
							<div ng-if="message.code">
								<div ng-if="message.heading" style="width:100%; min-height:15px; margin-top:5px; clear:both;">
									<center><span style="font-weight:bold; text-align:center;" ng-bind="message.heading"></span></center>
								</div>

								<cm-youtube style="pointer-events:all;"code="message.code"></cm-youtube>
							</div>
							<div ng-if="message.image">
								<div ng-if="message.heading" style="width:100%; min-height:15px; margin-top:5px; clear:both;">
									<center><span style="font-weight:bold;" ng-bind="message.heading"></span></center>
								</div>
								<img class="thumbnail" ng-if="message.image" ng-src="{{message.image}}" style="height:100%; max-height:100%; width:100%; max-width:100; margin:2px;"/>
							</div>
							<p scroll-on-click="isReferencedMessage(message)"  ng-dblclick="addReferenceMessage(sm_tech_chat, message )" class="cm-chat-message-text selectable" id="{{'ID_' + sm_tech_chat.session_key + '_' + message.priority + '_group'}}" ng-blur="updateGroupMessage(sm_tech_chat, message.priority, $index)" ng-enter="updateGroupMessage(sm_tech_chat, message.priority, $index)" ng-model="message.text"  contenteditable="{{ $last && message.key == sm_tech_chat.user_last_chat}}" spellcheck="false" ng-bind-html="message.text  | linky:'_blank' | emoji "></p>
							<div ng-if="message.reference != undefined ">
								<div ng-init="setReference(message, sm_tech_chat.first_priority)" class="cm-chat-message-text-ref-link" ng-class="{'cm-referenced-self': message.isReference && message.isReferencedSelf == true, 'cm-referenced-other':message.isReference && message.isReferencedSelf == false}" ng-click="referenceMessage(message.reference, 'ID_' + sm_tech_chat.session_key + '_' + message.reference + '_group',  'message_display_' + sm_tech_chat.index_position)">
									<span ng-bind="'@' + message.referenceName"></span>&nbsp;<span ng-bind="'...' + message.referenceText"></span>
								</div>
							</div>

						</div>
						<div class="chat-spacing"></div>
						<div class="bottom-spacer"  ng-show="$last"></div>
					</div> <!-- End of chat-body -->
				</div> <!-- end of  non-internal message-->
			</div> <!-- end of chat message repeat -->
			<div class="cm-chat-bottom-spacer"></div>
		</div>  <!-- end of individual message section -->
	</div>

	<div class="cm-main-panel-chat-info-wrapper">
		<div ng-if="sm_tech_chat.is_typing_list.length > 0" class="cm-main-panel-group-typing-wrapper">
			<i class="fa fa-spinner fa-spin pull-left" style="position:relative; top:3px;"></i>
			<img ng-repeat="avatar in sm_tech_chat.is_typing_list track by $index" ng-src="/components/com_callcenter/images/avatars/{{avatar}}-90.jpg" class="cm-main-panel-group-typing-avatar"/>
		</div>
	</div>

	<div style="position:relative; width:100%; margin:0px; padding:1px 0px 0px 0px; height:{{chat_textarea_height}}px;">
		<textarea ng-click="setDirectoryFocus(sm_tech_chat)" spellcheck="true" auto-correct="on" autocorrect="on" autocapitalize="on"  placeholder="Enter chat to the group... " ng-model="sm_tech_chat.chat_text"  ng-keydown="isGroupTyping(sm_tech_chat)" ng-enter="addGroupChatMessage(sm_tech_chat)" class="cm-main-panel-chat-textarea" style="left:2%;" ng-focus="sm_tech_chat.isTextFocus" ng-tab-press="setNexTab()"></textarea>
	</div>
	<div ng-click="toggleEmoji(sm_tech_chat)" class="cm-main-panel-chat-emoji-toggle">
		<center><span ng-blur="toggleEmoji(sm_tech_chat)" class="emoji emoji_smiley"></span></center><!-- Toggle for emoji pop up box -->
	</div>

	<div  class="row" ng-show="sm_tech_chat.reference != null">
		<div class="cm-main-panel-chat-reference-text">
			<span ng-bind="'@' + sm_tech_chat.referenceName"></span>&nbsp;<span ng-bind="'...' + sm_tech_chat.referenceText"></span>
		</div>
	</div>
</div>
