<div ng-cloak id="chat-module" window-resize class="cm-fixed-wrapper" ng-controller="core.main" style="font-size:{{module.global.font_size}}px; width:{{module.setting.main_panel.width}}px; height:{{module.setting.main_panel.height}}px;">
    <div ng-if="module.state.is_ready">
        <div ng-if="!module.global.is_open && module.setting.is_external_window_instance == false" style="position:fixed; right:50px; bottom:50px; width:40px; height:40px; background:transparent; text-decoration:none;">
            <a ng-click="ui.fx.openChatModule();" class="fa fa-external-link-square fa-4x" ng-class="{'Busy':alertToOpen == true}" style="text-decoration:none; pointer-events:all; cursor:pointer;"><span style="position:relative;left:-25px;font-size:10px; color:white;">Chat</span></a>
        </div>
        <div id="cm-main-panel" ng-if="module.global.is_open && module.setting.is_external_window_instance == false">
            <div id="cm-main-panel-header">
                <!-- <img style="pointer-events:all;" ng-click="ui.fx.toggleMainPanelMenu('profile');" ng-src="/components/com_callcenter/images/avatars/{{user_profile.avatar}}-90.jpg" width=20 height=20/> -->
                <img class="pointer" style="pointer-events:all;" ng-click="ui.fx.toggleMainPanelMenu('profile');" ng-src="{{module.contact_list.setting.default_avatar}}" width=35 height=35/>
                <span style="margin-left:5px; line-height:20px;" ng-bind="module.user.name"></span>
                <div class="pull-right btn btn-sm btn-default" style="min-width: 35px; height:35px;" ng-click="ui.fx.closeChatModule();">
                    <center><span class="fa fa-times fa-2x pointer"></span><center>
                </div>
                <div class="pull-right btn btn-sm btn-default" style="min-width: 35px; height:35px;" ng-click="ui.fx.toggleMainPanelMenu('setting');">
                    <center><span class="fa fa-cog fa-2x pointer"></span><center>
                </div>
            </div>
            <div id="cm-main-panel-header-panel">
                <div ng-show="module.menu.setting">
                    Settings
                </div>
                <div ng-show="module.menu.profile">
                    Profile
                </div>
            </div>
        </div>
    </div>
</div>
