<div id="chat-module" window-resize class="cm-fixed-wrapper" style="font-size:{{module.global.font_size}}px; min-width: 250px; width:{{ux.main_panel.width}}px; height:100%;" ng-class="{'full-width': module.setting.is_external_window_instance}">
    <div ng-if="module.state.is_loaded">
        <div ng-if="module.state.idle && module.global.is_window_visible" style="position:fixed; right:5px; bottom:5px; width:340px; height:100px; background:rgba(0,0,0,.2); text-decoration:none;">
            <div style="position:absolute; bottom:5px; left:5px; right: 65px; min-height: 90px; background: white; ">
            </div>
        </div>
        <div ng-if="module.setting.is_external_window_instance == false" style="position:fixed; right:25px; bottom:25px; width:40px; height:40px; background:transparent; text-decoration:none;">
            <i ng-show="!module.global.is_open || module.state.idle" ng-click="ui.fx.openChatModule();" class="cm-open-icon fa fa-comment fa-4x pointer" ng-class="{'Busy':alertToOpen == true}"></i>
        </div>
        <div id="cm-main-panel" ng-if="module.global.is_open && !module.state.idle">
            <div id="cm-main-panel-header" class="one-edge-shadow">
                <!-- <img style="pointer-events:all;" ng-click="ui.fx.toggleMainPanelMenu('profile');" ng-src="/components/com_callcenter/images/avatars/{{user_profile.avatar}}-90.jpg" width=20 height=20/> -->
                <img class="pointer" style="pointer-events:all;" ng-click="ui.fx.toggleMainPanelMenu('profile');" ng-src="{{module.contact_list.setting.default_avatar}}" width=35 height=35/>
                <span style="margin-left:5px; line-height:20px;" ng-bind="module.user.profile.name"></span>
                <div ng-hide="module.setting.is_external_window_instance" class="pull-right btn btn-xs btn-default pointer" ng-click="ui.fx.closeChatModule();">
                    <center><span class="fa fa-times fa-1x"></span></center>
                </div>
                <div class="pull-right btn btn-xs btn-default pointer" ng-click="ui.fx.toggleMainPanelMenu('setting');">
                    <center><span class="fa fa-cog"></span></center>
                </div>
            </div>
            <div ng-if="module.user.profile.presence.state != 'Online'" style="position:relative; width: 100%; clear: both; height: 20px; margin-bottom: 2px;" class="one-edge-shadow">
                <div style="position: absolute; top:2px; left: 2px; width:  width 40px;">
                    <div ng-class="{'cm-label-decal-description': ux.platform.browser  == 'Firefox','cm-label-decal-description-inset': ux.platform.browser  != 'Firefox'}">{{module.user.profile.presence.state}}</div>
                </div>
                <!-- <span style="background:white; width:100px; border-radius:10px; margin-left:2px; padding:2px; text-align:center; font-weight:bold; font-size:.8em;" ng-class="{'Busy' : module.user.profile.presence.state != 'Online' && module.user.profile.presence.state != 'Offline' && module.user.profile.online == true ,'Offline' : module.user.profile.online == false || module.user.profile.presence.state == 'Offline','Online' : module.user.profile.presence.state == 'Online' && module.user.profile.online == true}">{{module.user.profile.presence.state}}</span> -->
                <div style="position: absolute; top:2px; left: 45px; right: 5px; font-size: .9em; width: auto; text-align: center; color: red;"><span clas="pull-center" ng-bind="module.user.profile.presence.message"></span></div>
            </div>
            <div id="cm-main-panel-header-panel">
                <div ng-show="module.menu.setting" style="position:absolute; right:0;">
                    <cm-main-settings class="cm-menu-panel"></cm-main-settings>
                </div>
                <div ng-show="module.menu.profile" style="position:absolute; pointer-events:all;">
                    <cm-profile class="cm-menu-panel cm-main-gradient"></cm-profile>
                </div>
            </div>
            <div id="cm-main-panel-content-wrapper">
                <div id="cm-main-panel-upper-panel">
                    <cm-chat-tracker></cm-chat-tracker>
                    <div ng-if="module.global.layout == 2" style="position:relative; display: block; width: 100%; margin: 0; padding: 0; height: {{ux.main_panel.split_height}}px; clear:both; overflow-y:auto;">
                        <panel-contact-chat chat="module.current.contact.chat" ng-if="module.current.contact.session_key" ui="ui" ux="ux" profiles="module.contacts.profiles" engine="module.engine" style="position: absolute; top:0; left: 0; right: width: 100%; min-height: 300px; height:100%;"></panel-contact-chat>
                        <recent-chats ng-if="!module.current.contact.session_key"></recent-chats>
                        <div class="clearfix"></div>
                    </div>
                    <cm-vertical-adust ng-if="module.global.layout == 2"></cm-vertical-adust>
                    <chat-module-nav-panel></chat-module-nav-panel>
                </div>
                <div id="cm-main-panel-lower-panel">
                    <div ng-if="module.tab.current.index_position == 0" id="contacts">
                        <contacts></contacts>
                    </div>
                    <div ng-if="module.tab.current.index_position == 1" id="sm_group_chat" style="position:relative; display: block; width: 100%; margin: 0; padding: 0; height:100%;">
                        <panel-contact-chat chat="module.chats.directory.chat.list.sm_group_chat" ui="ui" ux="ux" profiles="module.contacts.profiles" engine="module.engine"></panel-contact-chat>
                    </div>
                    <div ng-if="module.tab.current.index_position == 2" id="sm_tech_chat" style="position:relative; display: block; width: 100%; margin: 0; padding: 0; height:100%;">
                        <panel-contact-chat chat="module.chats.directory.chat.list.sm_tech_chat" ui="ui" ux="ux" profiles="module.contacts.profiles" engine="module.engine"></panel-contact-chat>
                    </div>
                    <div ng-if="module.tab.current.index_position == 3" style="position:relative; display: block; width: 100%; margin: 0; padding: 0; height:100%;">
                        <panel-contact-chat chat="module.current.contact.chat" ng-if="module.global.layout == 1 && module.current.contact.session_key" ui="ui" ux="ux" profiles="module.contacts.profiles" engine="module.engine"></panel-contact-chat>
                        <recent-chats ng-if="!module.current.contact.session_key || module.global.layout == 2 "></recent-chats>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
