<div id="cm-main-panel-tracker" class="cm-main-panel-tracker" ng-show="module.chats.contact.chat.count">
    <div id="cm-main-panel-tracker-content" class="min-scroll" style="max-height:{{tracker_panel_size}}px;">
        <!--        <div directory-item-scroll="isLastUnread($index) || isDirectoryItem($index)" ng-repeat="chat in activeChats track by $index"> -->
        <div ng-repeat="contact_chat in module.chats.contact.chat.list | orderObjectBy: 'session.order'">
            <div ng-if="contact_chat.session.active" class="cm-main-panel-tracker-chat">
                <div ng-click="contact_chat.attr.is_init = false; ui.fx.setChatAsCurrent(contact_chat.session.type, contact_chat.session.session_key); contact_chat.attr.is_init = true;" class="cm-main-panel-tracker-chat-content" ng-class="{'cm-main-panel-tracker-active-chat': contact_chat.attr.is_active, 'cm-main-panel-tracker-new-chat': contact_chat.ux.unread}">
                    <i ng-if="!contact_chat.session.is_group_chat" class=" cm-main-panel-tracker-icons fa fa-user"></i>
                    <i ng-if="contact_chat.session.is_group_chat" class=" cm-main-panel-tracker-icons fa fa-comments"></i>
                    <div ng-if="!contact_chat.session.is_group_chat"><i ng-show="contact_chat.signals.contact.is_typing" class="fa fa-spinner fa-1x fa-pulse cm-main-panel-tracker-typing"></i></div>
                    <div ng-if="contact_chat.session.is_group_chat"><i ng-show="contact_chat.signals.group.is_typing" class="fa fa-spinner fa-spin cm-main-panel-tracker-typing"></i></div>
                    <div class="cm-main-panel-tracker-chat-truncate-title">
                        <span ng-if="!contact_chat.session.is_group_chat" style="position:relative; margin-left:2px;" ng-bind="contact_chat.session.tag || contact_chat.contact.profile.name"></span>
                        <span ng-if="contact_chat.session.is_group_chat" style="position:relative; margin-left:2px;" ng-bind="contact_chat.session.tag || contact_chat.contacts.name_list || contact_chat.description"></span>
                    </div>
                    <div ng-show="contact_chat.ux.unread > 0" class="badge cm-main-panel-tracker-unread-count" style=" position: absolute; font-size: .8em; top: 2px; right: 2px; padding: 2px; margin: 0; color: white;  background-color: red; z-index: 1;">
                        <center><span ng-bind="contact_chat.ux.unread"></span></center>
                    </div>
                    <div ng-if="!contact_chat.session.is_group_chat" class="cm-main-panel-status-label cm-main-panel-tracker-status {{module.contacts.profiles.list[module.contacts.profiles.map['user_' + contact_chat.contact.profile.user_id]].state}}"></div>
                    <div ng-if="contact_chat.session.is_group_chat" class="cm-main-panel-status-label">
                        <center><span class="badge" style="position:relative; padding: 2px; font-size: .8em;  top: -4px;" ng-bind="contact_chat.contacts.count"></span></center>
                    </div>
                </div>
                <!-- End of Upper Chat header -->
            </div>
        </div>
    </div>
    <!-- <div class="cm-main-panel-tracker-label-bottom" class="well well-sm">Tracker</div> -->
</div>
