<div class="cm-chat-setting-menu" style="background: white; color:rgba({{chat.session.accent_color}},1); border:2px solid rgba({{chat.session.accent_color}},1);">
    <!-- Pop up of list of Option for User -->
    <div ng-show="chat.menu.options == true">
        <div ng-if="!chat.session.is_directory_chat">
            <div ng-if="ux.fx.hasSuperAdminRights();" href="#" class="pointer" ng-click="nudgeUser(directory_chat)">
                <i class="fa fa-bolt"></i>
                <span class="cm-chat-user-option">Nudge User</span>
            </div>
        </div>
        <div ng-if="!chat.session.admin || ux.fx.hasMediaRights(chat.session.session_key);">
            <div ng-if="ux.fx.hasSuperAdminRights();" class="pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'audio', true);">
                <!-- Option to add topic to chat -->
                <span href="#" class="fa fa-play-circle"></span>
                <span class="cm-chat-user-option">Add Audio</span>
            </div>
            <div class="pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'image', true);">
                <!-- Option to add topic to chat -->
                <span href="#" class="fa fa-camera"></span>
                <span class="cm-chat-user-option">Add Image</span>
            </div>
            <div class="pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'video', true);">
                <!-- Option to add topic to chat -->
                <span href="#" class="fa fa-youtube-square"></span>
                <span class="cm-chat-user-option">Add Video</span>
            </div>
        </div>
        <!--
        <div class="pointer" ng-click="removeChatSession(directory_chat)">
            <span href="#" class="glyphicon glyphicon-remove "></span>
            <span class="pointer" ng-show="chat.session.is_group_chat === false">Close Chat</span>
            <span class="pointer" ng-show="chat.session.is_group_chat === true">Leave Chat</span>
        </div>
-->
        <!--
        <div href="#" class="pointer" ng-click="toggleChatSound(directory_chat)">
            <span href="#" class="no-select" ng-class="{'glyphicon glyphicon-volume-up' : chat.session.is_sound == false || chat.session.is_sound == 'false', 'glyphicon glyphicon-volume-off' : chat.session.is_sound == true || chat.session.is_sound == 'true'}"></span>
            <span class="pointer" ng-show="chat.session.is_sound == false || chat.session.is_sound == 'false'" >Sound On</span>
            <span class="pointer" ng-show="chat.session.is_sound == true || chat.session.is_sound == 'true'" href="#">Sound Off</span>
        </div>
-->
        <div ng-if="!chat.session.is_directory_chat && chat.session.is_group_chat || chat.contact.profile.online == true &&  chat.contact.presence.state != 'Offline'">
            <div href="#" class="pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'invite');">
                <!-- Option to invite another user to chat -->
                <i class="fa fa-users"></i>
                <span class="cm-chat-user-option">Add User</span>
            </div>
        </div>
        <div ng-if="!chat.session.is_directory_chat && !chat.session.tag" class="pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'tag', true);">
            <!-- Option to tag the name of the chat box -->
            <span href="#" class=" glyphicon glyphicon-tag"></span>
            <span class="cm-chat-user-option">Add Tag</span>
        </div>
        <div ng-if="!chat.session.is_directory_chat && chat.session.tag" class="pointer" ng-click="ui.fx.removeChatTag(chat.session.type, chat.session.session_key);">
            <!-- Option to tag the name of the chat box -->
            <span href="#" class=" glyphicon glyphicon-tag"></span>
            <span class="cm-chat-user-option">Remove Tag</span>
        </div>
        <div ng-if="(!chat.session.admin || ux.fx.hasTopicRights(chat.session.session_key)) && !chat.session.topic.length" class="pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'topic', true);">
            <!-- Option to add topic to chat -->
            <span href="#" class="glyphicon glyphicon-star"></span>
            <span class="cm-chat-user-option">Add Topic</span>
        </div>
        <div ng-if="(!chat.session.admin || ux.fx.hasTopicRights(chat.session.session_key)) && chat.session.topic.length" class="pointer" ng-click="ui.fx.removeChatTopic(chat.session.type, chat.session.session_key);">
            <!-- Option to add topic to chat -->
            <span href="#" class="glyphicon glyphicon-star"></span>
            <span class="cm-chat-user-option">Remove Topic</span>
        </div>
        <!--
        <div ng-if="chat.viewProfile"  class="cm-chat-user-option"  ng-click="closeProfile(directory_chat)" >
            <span href="#" class="glyphicon glyphicon-star"></span>
            <span class="cm-chat-user-option">Close Profile</span>
        </div>
-->
        <div class="pointer" ng-click="sendChatReceipt(directory_chat)">
            <!-- Option to send chat history to user email -->
            <span href="#" class=" glyphicon glyphicon-envelope"></span>
            <span class="cm-chat-user-option">Chat Receipt</span>
        </div>
        <div class="pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'color', true);">
            <!-- Option to tag the name of the chat box -->
            <i href="#" class="fa fa-paint-brush"></i>
            <span class="cm-chat-user-option">Color</span>
        </div>
    </div>
    <!-- end of user option pop up -->
    <div class="clearfix"></div>
</div>
