<div id="cm-main-panel-tracker" class="cm-main-panel-tracker" ng-show="module.chats.contact.chat.count">
    <div class="cm-main-panel-tracker-label" class="well well-sm">Conversation
        <div ng-if="module.global.layout == 1 && module.chats.contact.count" ng-click="switchLayout(3)" style="position:absolute; top:30px; right:20px; cursor:pointer;" class="pull-right fa fa-expand"></div>
        <div ng-if="module.global.layout == 3" ng-click="switchLayout(1)" style="position:absolute; top:30px; right:20px;" class="pull-right fa fa-compress"></div>
    </div>
    <div id="cm-main-panel-tracker-content" class="min-scroll" style="max-height:{{tracker_panel_size}}px;">
        <!-- 		<div directory-item-scroll="isLastUnread($index) || isDirectoryItem($index)" ng-repeat="chat in activeChats track by $index"> -->
        <div ng-repeat="contact_chat in module.chats.contact.chat.list | orderObjectBy: 'session.order'">
            <div ng-if="contact_chat.session.active" class="cm-main-panel-tracker-chat">
                <div ng-click="ui.fx.setChatAsCurrent(contact_chat.session.type, contact_chat.session.session_key)" class="cm-main-panel-tracker-chat-content" ng-click="setDirectoryChat($index, true); openChatModule();" ng-class="{'cm-main-panel-tracker-active-chat': $index == directory_index, 'cm-main-panel-tracker-new-chat': chat.isNewMessage == true && $index != directory_index}">
                    <div ng-if="!contact_chat.session.is_group_chat" class="cm-main-panel-tracker-chat-truncate-title">
                        <i class="glyphicon glyphicon-user pull-left" style="position:relative; top: 2px;" ng-class="{'Online' : contact_chat.contact.profile.presence == 'Online' && contact_chat.contact.profile.online == true }"></i>
                        <span  style="position:relative; margin-left:2px;" ng-bind="contact_chat.session.tag || contact_chat.contact.profile.name" ng-class="{'Busy' : contact_chat.contact.profile.presence.state != 'Online' && contact_chat.session.is_group_chat === false}"></span>
                        <!--Name of the Person the user is Chatting, hover when group chat to display of participating users -->
                        <!-- <span class="Busy" ng-show="contact_chat.contact.profile.presence == 'Busy' && contact_chat.session.is_group_chat == false">{{contact_chat.contact.profile.first_name}} is Busy</span> -->
                        <!-- Show only when User sets chat-presence to busy -->
                        <span><i ng-show="contact_chat.signals.contact.is_typing.length" class="fa fa-spinner fa-spin cm-main-panel-tracker-typing"></i></span>
                        <!-- Activates when someone is typing a message to the user -->
                    </div>
                    <div ng-if="contact_chat.session.is_group_chat" class="cm-main-panel-tracker-chat-truncate-title">
                        <span class="pull-left">
                            <i  class="fa fa-comments"></i>
                            <span>({{contact_chat.contacts.count}})</span>
                        </span>
                        <span  style="position:relative; margin-left:2px;" ng-bind="contact_chat.session.tag || contact_chat.contacts.name_list || contact_chat.description"></span>
                        <!--Name of the Person the user is Chatting, hover when group chat to display of participating users -->
                        <!-- <span class="Busy" ng-show="contact_chat.contact.profile.presence == 'Busy' && contact_chat.session.is_group_chat == false">{{contact_chat.contact.profile.first_name}} is Busy</span> -->
                        <!-- Show only when User sets chat-presence to busy -->
                        <span><i ng-show="contact_chat.signals.group.is_typing.length" class="fa fa-spinner fa-spin cm-main-panel-tracker-typing"></i></span>
                        <!-- Activates when someone is typing a message to the user -->
                    </div>
                    <span ng-show="$index != directory_index && contact_chat.ux.unread > 0" class="badge cm-main-panel-tracker-item-unread-count" ng-class="{'chat-new-message': contact_chat.isNewMessage == true}" ng-bind="contact_chat.ux.unread"></span>
                    <!-- Displays the count of any messages received while the chat box was closed -->
                </div>
                <!-- End of Upper Chat header -->
            </div>
        </div>
    </div>
    <div class="cm-main-panel-tracker-label-bottom" class="well well-sm">Tracker</div>
</div>
