<div class="cm-main-panel-content">
    <div class="cm-main-panel-label" style="top:-5px; padding:0px;">
        <div class="cm-main-label-decal one-edge-shadow">
            <div ng-class="{'cm-label-decal-description': module.platform.browser == 'Firefox','cm-label-decal-description-inset': module.platform.browser != 'Firefox'}" style="font-size:1.5em">
                Plusone Peeps
                <div style="position:absolute; z-index:1;" class="btn btn-xs pointer" ng-click="ui.fx.toggleMainPanelMenu('filter');"><i class="caret"></i></div>
            </div>
            <div ng-show="module.menu.filter" class="cm-contact-filter-menu pointer">
                <div class="pointer" ng-show="!module.contact_list.setting.show_offline;" ng-click="ui.fx.toggleContactListShowOffline(true);">Show Offline</div>
                <div class="pointer" ng-show="module.contact_list.setting.show_offline ;" ng-click="ui.fx.toggleContactListShowOffline(false);">Hide Offline</div>
                <!--
			    <li role="presentation" class="dropdown-header">Filter By Position:</li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Admin</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">SM / Shift Manager</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">MC / Mentor Coach</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PC / Peer Coach</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">PlusOne Agent</a></li>
			    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">On Shift</a></li>

-->
            </div>
        </div>
    </div>
    <div id="cm-main-panel-contacts-search" class="pointer" style="position:relative; margin-top:2px;">
        <div class="input-group input-group-sm">
            <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
            <div class="btn btn-default" style="display: block;">
                <select ng-if="module.contacts.profiles" chosen ng-options="contact as contact.name for contact in module.contacts.profiles | array | orderBy: 'name'" ng-model="module.contact_list.selected" ng-change="ui.fx.chatContactListSearch()">
                    <option value="">Search</option>
                </select>
            </div>
        </div>
    </div>
    <div id="chat-module-contacts-display" class="cm-main-panel-chat-panel-content min-scroll" style="height:{{cm_directory_chat_message_display_height + (vertical_adjust)}}px; overflow-y:auto; overflow-x:hidden;">
        <div ng-show="directory_search.text.length == 0">
            <div ng-show="smod">
                <div class="cm-main-panel-label" style="top:-5px;">
                    <div class="cm-main-label-decal one-edge-shadow">
                        <div ng-class="{'cm-label-decal-description': module.platform.browser == 'Firefox','cm-label-decal-description-inset': module.platform.browser != 'Firefox'}">Shift Manger On Duty</div>
                    </div>
                </div>
                <div ng-show="smod" ng-click="chat(smod)" class="cm-main-panel-contact cm-pointer">
                    <img ng-src="/components/com_callcenter/images/avatars/{{smod.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="smod.name"></span>
                    <div class="chat-status {{smod.state + '_Directory_Status'}}"></div>
                </div>
            </div>
            <div ng-show="tod">
                <div class="cm-main-panel-label">
                    <div class="cm-main-label-decal one-edge-shadow">
                        <div ng-class="{'cm-label-decal-description': module.platform.browser == 'Firefox','cm-label-decal-description-inset': module.platform.browser != 'Firefox'}">Tech Manger On Duty</div>
                    </div>
                </div>
                <div ng-show="tod" ng-click="chat(tod)" class="cm-main-panel-contact cm-pointer">
                    <img ng-src="/components/com_callcenter/images/avatars/{{tod.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="tod.name"></span>
                    <div class="chat-status {{tod.state + '_Directory_Status'}}"></div>
                </div>
            </div>
        </div>
        <div class="cm-main-panel-label">
            <div class="cm-main-label-decal one-edge-shadow">
                <div ng-class="{'cm-label-decal-description': module.platform.browser == 'Firefox','cm-label-decal-description-inset': module.platform.browser != 'Firefox'}">Online</div>
            </div>
        </div>
        <div ng-repeat="contact in module.contacts.online | orderObjectBy: 'name' ">
            <div ng-click="ui.fx.chatContact(contact);" class="cm-main-panel-contact-online" ng-class="{'cm-main-panel-active-selection':isCurrentDirectorySelection(contact.user_id)}">
                <!-- <img ng-src="/components/com_callcenter/images/avatars/{{contact.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="contact.name"></span> -->
                <img ng-src="{{module.contact_list.setting.default_avatar}}" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="contact.name"></span>
                <div class="chat-status cm-main-panel-contact-status {{contact.state}}"></div>
            </div>
        </div>
        <div ng-show="module.contact_list.setting.show_offline == true">
            <div class="cm-main-panel-label">
                <div class="cm-main-label-decal one-edge-shadow">
                    <div ng-class="{'cm-label-decal-description': module.platform.browser == 'Firefox','cm-label-decal-description-inset': module.platform.browser != 'Firefox'}">Offline</div>
                </div>
            </div>
            <div ng-repeat="contact in module.contacts.offline | orderObjectBy: 'name' " ng-class="{'cm-main-panel-active-selection':isCurrentDirectorySelection(contact.user_id)}">
                <div ng-click="ui.fx.chatContact(contact);" class="cm-main-panel-contact-offline">
                    <!-- <img ng-src="/components/com_callcenter/images/avatars/{{contact.avatar}}-90.jpg" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="contact.name"></span> -->
                    <img ng-src="{{module.contact_list.setting.default_avatar}}" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="contact.name"></span>
                    <div class="chat-status cm-main-panel-contact-status Offline"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="topic-spacer"></div>
</div>
