<div id="cm-main-panel-directory_chat" class="cm-main-panel-content" ng-class="{'chat-slide-enter': module.current.contact.chat.session.order == directory_index}">
	<!-- Upper Chat header -->
	<!-- Pop up box for list of participating users in a group chat -->
	<div ng-if="module.current.contact.chat.session.is_group_chat == true && module.current.contact.chat.menu.user_list == true && module.current.contact.chat.contacts.active.list.length > 0" class="cm-main-panel-chat-active-users-box min-scroll"> <!-- ng-show should filter out the user form the list -->
		<div ng-repeat="contact in module.current.contact.chat.contacts.active.list track by $index | orderBy:'name' ">
			<div ng-if="contact.user_id != module.current.contact.chat.user.profile.id" class="cm-main-panel-chat-active-user">
				<img ng-src="{{contact.avatar_url}}" style="width:20px; height:20px; margin-right:5px;"/><span style="margin-right:5px;" ng-bind="contact.name"></span>
				<span ng-if="module.current.contact.chat.session.admin" ng-click="ui.fx.removeActiveUser('contact', module.current.contact.session_key);" class="glyphicon glyphicon-remove pull-right" style="margin:0px 5px;"></span>
			</div>
		</div>
	</div><!--end of active user list for group chat  -->
<!-- 	<span ng-show="$index < (activeChats.length-1)"ng-click="swapChatPositions($index, $index+1)"  ng-dblclick="moveChatToLast($index)" href="#" class="move-left glyphicon glyphicon-chevron-left "></span> -->
<!-- 	<span ng-show="$index > 0"ng-click="swapChatPositions($index, $index-1)" ng-dblclick="moveChatToFirst($index)" href="#" class="move-right glyphicon glyphicon-chevron-right "></span> -->










		<!-- Group Chat message section -->
		<div ng-if="module.current.contact.chat.session.is_group_chat" class="cm-main-panel-chat-message-section">
			<div ng-show="module.current.contact.chat.menu.topic || module.current.contact.chat.topic.description != false" class="med-spacer "></div>
			<div ng-repeat=" message in module.current.contact.chat.group_chats track by $index" >
				<div class="cm-chat-spacer"  ng-if= "module.current.contact.chat.group_chat_log[$index-1] != message.author"></div>
				<div ng-if="message.author == module.current.contact.chat.internal_reference" class="cm-chat-internal-body"> <!-- ng show if this is an internal chat message -->
					<p class="cm-main-panel-chat-internal-message text-muted no-select" style="word-wrap: break-word;" ng-bind-html="message.text | linky:'_blank' | emoji "></p>
				</div>
				<div ng-if="message.author != module.current.contact.chat.internal_reference"> <!-- ng-repeat of messgaes stored as a group chat -->
					<div ng-init="setChatMessage(message, directory_chat, $index)"></div>
					<div ng-class="{'cm-chat-message-new' : module.current.contact.chat.group_chat_log[$index-1] != message.author || module.current.contact.chat.group_chat_log[$index-1] == message.author && message.time_lapse == true, 'cm-chat-message-extend' : module.current.contact.chat.group_chat_log[$index-1] == message.author && message.time_lapse == false}" > <!-- ng-show if this is not an internal chat message -->
						<div ng-if="message.author == module.current.contact.chat.user.profile.id && module.current.contact.chat.group_chat_log[$index-1] != message.author || message.author == module.current.contact.chat.user.profile.id && message.time_lapse" class="cm-chat-message-avatar-left"  >
							<center><img ng-src="{{message.avatar}}" class="cm-chat-message-avatar  one-edge-shadow" alt="..."></center>
<!-- 							<div class="cm-main-panel-chat-speek-arrow-left"></div> -->
						</div>
						<div ng-if="message.author != module.current.contact.chat.user.profile.id && !(message.from_prev_author) || message.author != module.current.contact.chat.user.profile.id && message.time_lapse" class="cm-chat-message-avatar-right"  >
							<center><img ng-src="{{message.avatar}}" class="cm-chat-message-avatar  one-edge-shadow" alt="..."></center>
<!-- 							<div class="cm-main-panel-chat-speek-arrow-right"></div> -->
						</div>

						<div ng-if="module.current.contact.chat.group_chat_log[$index-1] != message.author || module.current.contact.chat.group_chat_log[$index-1] == message.author &&  message.time_lapse == true" class="no-select cm-chat-message-timestamp cm-chat-message-timestamp-border" ng-class="{'alert-danger' : module.current.contact.chat.user_details[message.author].profile_location.$value == false, 'alert-success' : module.current.contact.chat.user_details[message.author].profile_location.$value == true, 'white' : module.current.contact.chat.user_details[message.author].profile_location.$value == false || module.current.contact.chat.user_details[message.author].profile_location.$value == undefined || network == false, 'pushLeft' : message.author == module.current.contact.chat.user.profile.id }">
							<span class="cm-chat-message-name-left"  ng-if="message.author != module.current.contact.chat.user.profile.id" ng-bind="message.authorName"></span>
							<span class="cm-chat-message-name-right" ng-if="message.author == module.current.contact.chat.user.profile.id" ng-bind="module.current.contact.chat.self_name"></span>
							<div ng-class="{'cm-chat-message-timestamp-right' : message.author == module.current.contact.chat.user.profile.id, 'cm-chat-message-timestamp-left' : message.author != module.current.contact.chat.user.profile.id}">
								<span ng-if="message.past_hour" ng-bind="message.time | date:'MM/dd @ h:mma'"></span>
								<span ng-if="!(message.past_hour)" ng-bind="message.time | {{module.current.contact.chat.time_format}}"></span>
							</div>
						</div>
						<div ng-class="{'alert-info' : message.author != module.current.contact.chat.user.profile.id, 'cm-self' : message.author == module.current.contact.chat.user.profile.id ,'cm-chat-message-new-left no-radius' : module.current.contact.chat.group_chat_log[$index-1] != message.author, 'repeat-item cm-chat-message-new-right no-radius' : module.current.contact.chat.group_chat_log[$index-1] == message.author, 'chat_extend_left no-radius' : module.current.contact.chat.group_chat_log[$index-1] != message.author &&  message.author != module.current.contact.chat.user.profile.id ,'chat_extend_right no-radius' : module.current.contact.chat.group_chat_log[$index-1] == message.author && message.author == module.current.contact.chat.user.profile.id,'rounded-bottom one-edge-shadow selectable' : $last || module.current.contact.chat.group_chat_log[$index+1] != message.author || message.was_time_lapse == true }">
							<div ng-show="message.from_prev_author && message.minute_from_last && message.time_lapse == false" class="no-select cm-chat-extend-timestamp">
								<span ng-if="message.past_hour" ng-bind="message.time | date:'MM/dd @ h:mma'"></span>
								<span ng-if="!(message.past_hour)" ng-bind="message.time | {{module.current.contact.chat.time_format}}"></span>
							</div>
							<p scroll-on-click="isReferencedMessage(message, directory_chat)"  ng-dblclick="addReferenceMessage(directory_chat, message)" class="cm-chat-message-text" id="{{'ID_' + module.current.contact.chat.session.session_key + '_' + message.priority + '_group'}} " ng-enter-press="updateGroupMessage(directory_chat, message.priority, $index)" ng-blur="updateGroupMessage(directory_chat, message.priority, $index)" ng-model="message.text"  contenteditable="{{ $last && message.key == module.current.contact.chat.user_last_chat}}" spellcheck="false" ng-bind-html="message.text  | linky:'_blank' | emoji "></p>
							<div ng-if="message.reference && message.reference < module.current.contact.chat.first_priority" class="cm-chat-message-text-ref">
								<span ng-bind="'@' + message.referenceName"></span>&nbsp;<span ng-bind="'...' + message.referenceText"></span>
							</div>
							<div ng-if="message.reference && message.reference >= module.current.contact.chat.first_priority" class="cm-chat-message-text-ref-link" ng-click="referenceMessage(message.reference, 'ID_' + module.current.contact.chat.session.session_key + '_' +  message.reference + '_group', 'message_display_' + module.current.contact.chat.session.order)">
								<span ng-bind="'@' + message.referenceName"></span>&nbsp;<span ng-bind-html="'...' + message.referenceText | emoji"></span>
							</div>
						</div>
						<div class="chat-spacing"></div>
						<div class="cm-chat-bottom-spacer"  ng-show="$last"></div>
					</div> <!-- End of chat-body -->
				</div> <!-- end of  non-internal message-->
			</div><!-- endof ng-repeat of group chat messages -->
			<div class="cm-chat-bottom-spacer"></div>
		</div><!-- end of group chat message section -->
<!-- 		<div ng-if="module.current.contact.chat.stick_to_bottom" ng-click="module.current.contact.chat.stick_to_bottom = false;" class="bottom-spacer" style="background:black; border-radius:5px;"></div> -->
	</div> <!-- End of message display -->
	<div class="cm-main-panel-chat-info-wrapper">
		<div ng-if="module.current.contact.chat.session.is_group_chat == true && module.current.contact.chat.is_typing_list.length > 0" class="cm-main-panel-group-typing-wrapper">
			<i class="fa fa-spinner fa-spin pull-left" style="position:relative; top:3px;"></i>
			<img ng-repeat="avatar in module.current.contact.chat.is_typing_list track by $index" ng-src="/components/com_callcenter/images/avatars/{{avatar}}-90.jpg" class="cm-main-panel-group-typing-avatar"/>
		</div>
		<div ng-if="network == false && !module.current.contact.chat.session.is_directory_chat"  class=" cm-main-panel-chat-offline-text">You are Offline.</div>
		<!-- 		<div ng-if="(module.current.contact.chat.session.is_group_chat == false && module.current.contact.chat.contact.profile.online == false) || (network == true && module.current.contact.chat.contact.presence.state == 'Offline')"  class="offline-text one-edge-shadow">{{module.current.contact.chat.tag.desription || module.current.contact.chat.to_user_f_name}} is Offline.</div>	 -->
		<div ng-if="module.current.contact.chat.session.is_group_chat == true && module.current.contact.chat.group_count < 1 && !module.current.contact.chat.session.is_directory_chat" >
			<div class="cm-main-panel-chat-offline-text">The Group Chat is Empty.</div>
		</div>
		<div ng-show="(module.current.contact.chat.session.is_group_chat == false && module.current.contact.chat.contact.profile.online == false) || (network == true && module.current.contact.chat.contact.presence.state == 'Offline')"  class="cm-main-panel-chat-offline-text">{{module.current.contact.chat.tag.desription || module.current.contact.chat.chat_description || module.current.contact.chat.contact.profile.name}} is Offline.</div>
		<div ng-show="module.current.contact.chat.nudge" class="cm-main-panel-chat-offline-text" style="background:rgba(69,106,151,0.8);"><i class="fa fa-bolt chat-nudge-icon"></i> You were just nudged by {{module.current.contact.chat.to_user_f_name}} <i class="fa fa-bolt chat-nudge-icon"></i></div>

		<div ng-init="hover = false"; ng-show="module.current.contact.chat.contact.presence.message && module.current.contact.chat.to_user_chat_presence_message_post.$value" class="cm-away-banner min-scroll" ng-class="{transparent: hover}" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
			<span ng-bind="module.current.contact.chat.contact.presence.message"></span>
		</div>
	</div>

	<div style="position:relative; width:100%; margin:0px; padding:1px 0px 0px 0px; height:{{chat_textarea_height}}px;">
		<div ng-if="module.current.contact.chat.session.is_group_chat == false">
			<textarea  ng-click="setTextFocus(directory_chat)" spellcheck="true" auto-correct="on" autocorrect="on" autocapitalize="on" placeholder="Enter chat to {{module.current.contact.chat.to_user_f_name}}... "  ng-keydown="showAsTyping(directory_chat)" ng-model="module.current.contact.chat.chat_text"  ng-enter-press=" addChatMessage(directory_chat)" class="cm-main-panel-chat-textarea" focus-me="module.current.contact.chat.attr.is_text_focus" ng-tab-press="setNexTab()"></textarea>
			<i style="position:absolute; top:5px; right:20px; z-index:109;" ng-show="isPinging" class="fa fa-spinner fa-spin fa-2x" ng-class="{'Busy':isPinging}"></i>
		</div>
		<!-- Text area that is open when chat is a group chat -->
		<div ng-if="module.current.contact.chat.session.is_group_chat == true">
			<textarea ng-click="setTextFocus(directory_chat)" spellcheck="true" auto-correct="on" autocorrect="on" autocapitalize="on"  placeholder="Enter chat to the group..." ng-keydown="isGroupTyping(directory_chat)" ng-model="module.current.contact.chat.chat_text"  ng-enter-press="addGroupChatMessage(directory_chat)" class="cm-main-panel-chat-textarea" focus-me="module.current.contact.chat.attr.is_text_focus" ng-tab-press="setNexTab()"></textarea>

		</div>
		<div ng-show="isPageComplete && directory_chat"ng-click="toggleEmoji(directory_chat)" class="cm-main-panel-chat-emoji-toggle">
			<center><span ng-blur="toggleEmoji(directory_chat)" class="emoji emoji_smiley" style="font-size:5px;"></span></center><!-- Toggle for emoji pop up box -->
		</div>
	</div>
	<!-- end of main upp content of chat box -->

	<div  class="row" ng-show="module.current.contact.chat.reference != null">
		<div class="cm-main-panel-chat-reference-text">
			<span ng-bind="'@' + module.current.contact.chat.referenceName"></span>&nbsp;<span ng-bind="'...' + module.current.contact.chat.referenceText"></span>
		</div>
	</div>

	<div ng-init="resetTyping(directory_chat);"></div>
</div><!-- end of chat box open/closed format -->
