<div class="cm-contact-chat">
    <div class="cm-contact-chat-header" class="cm-main-panel-label one-edge-shadow">
        <img class="pointer" style="pointer-events:all;" ng-click="ui.fx.toggleChatMenu('contact', chat.session.session_key, 'profile');" ng-src="{{chat.contact.profile.avatar_url}}" width=35 height=35/>
        <span style="margin-left:5px; line-height:20px;" ng-bind="chat.contact.profile.name"></span>
        <span style="background:white; width:100px; border-radius:10px; margin-left:10px; padding:2px 5px; text-align:center; font-weight:bold; font-size:.8em;" ng-class="{'Busy' : chat.contact.profile.presence.state != 'Online' && chat.contact.profile.presence.state != 'Offline' && chat.contact.profile.online == true ,'Offline' : chat.contact.profile.online == false || chat.contact.profile.presence.state == 'Offline','Online' : chat.contact.profile.presence.state == 'Online' && chat.contact.profile.online == true}">{{chat.contact.profile.presence.state}}</span>
        <div class="pull-right btn btn-xs btn-default pointer" ng-click="ui.fx.closeChat();">
            <center><span class="fa fa-times fa-1x"></span></center>
        </div>
        <div class="pull-right btn btn-xs btn-default pointer" ng-click="ui.fx.toggleChatMenu('contact', chat.session.session_key, 'options');">
            <center><span class="fa fa-cog"></span></center>
        </div>
    </div>
    <div class="cm-contact-chat-status-top min-scroll">
    </div>
    <div ng-show="chat.menu.options" style="position:absolute; right:0;">
        <cm-chat-settings class="cm-menu-panel"></cm-chat-settings>
    </div>
    <div ng-show="chat.menu.profile" class="cm-contact-chat-full-menu min-scroll cm-menu-panel">
        <cm-contact-profile></cm-contact-profile>
    </div>
    <!-- Pop up for adding a user to the chat -->
    <div ng-if="chat.menu.invite == true" class="cm-chat-invite-box">
        <select chosen multiple ng-model="chat.invite.contact_list" ng-options="contact as contact.name for contact in module.contacts.profiles.list |filter: {online:true} | orderBy:'name'">
            <option value=''>Select Users</option>
        </select>
    </div>
    <!--    <a href="" ng-show="chat.menu.invite === true" class=" cm-chat-invite-close glyphicon glyphicon-remove" ng-click="closeInvite(directory_chat)"></a> -->
    <!-- End of Pop up for adding user -->
    <!-- Pop up input box for adding a topic to the chat -->
    <div ng-if="chat.menu.topic" class="cm-main-panel-chat-add-topic-wrapper" ng-submit="addTopic(directory_chat)">
        <form class="form slim" role="form">
            <div class="form-group slim">
                <input type="text" spellcheck="true" pattern=".{5,40}" maxlength=35 required title="5 characters minimum" class="cm-main-panel-chat-add-input" class="form-control" placeholder="Enter a topic for this chat..." ng-model="chat.topic_description" focus-me="chat.isTopicFocus">
            </div>
            <button type="submit" style="width:0px;" class='hidden' </button>
                <!-- hidden -->
        </form>
        <div class="row slim" style="margin-top:3px; height:2px;">
            <hr style="color:white; background:white; clear:both; ">
        </div>
    </div>
    <!-- Pop up input box for adding Tag as name of the chat -->
    <div ng-if="chat.menu.tag === true" class="cm-main-panel-chat-tag-wrapper" ng-submit="updateTag(directory_chat)">
        <form class="form slim" role="form">
            <div class="form-group slim">
                <input type="text" spellcheck="true" pattern=".{3,20}" maxlength=20 required title="3 characters minimum" class="cm-chat-tag-input" class="form-control" placeholder="Enter Tag for this chat..." value="{{chat.tag.desription || ''}}" ng-model="chat.tag_description" focus-me="chat.isTagFocus">
            </div>
            <button type="submit" style="width:0px;" class='hidden' </button>
        </form>
    </div>
    <!-- end of tag input box -->
    <div id="{{'topic_' + chat.session.session_key + '_wrapper'}}" ng-show="chat.topic.allow == true && chat.topic.description != false && chat.topic.description != null " class="cm-main-panel-chat-topic-wrapper">
        <span ng-click="toggleTopic(directory_chat)" class="cm-chat-topic-icon glyphicon glyphicon-pushpin cm-topic-toggle"></span>
        <div class="cm-main-panel-chat-topic min-scroll" ng-class="{'truncated':chat.topic.truncated == true}">
            <span id="{{'topic_' + chat.session.session_key}}" maxlength=60 ng-enter-press="updateTopic(directory_chat)" contenteditable="{{chat.admin}}" ng-class="{'selectable' : chat.admin ,'no-select' : chat.admin != chat.user.profile.id}" ng-bind="chat.topic.description"></span>
        </div>
        <span href="#" ng-show="chat.admin" ng-click="removeTopic(directory_chat)" class="cm-chat-topic-close glyphicon pull-right glyphicon-remove"></span>
    </div>
    <!-- Section for displaying Chat messages -->
    <div ng-if="chat.menu.emoticons;" class="cm-contact-chat-full-menu min-scroll cm-menu-panel">
        <div ng-repeat="emoticon in ux.emoticons track by $index ">
            <span ng-click="addEmoji(emoticon, directory_chat);" style="float:left;" ng-bind-html="emoticon | emoji"></span>
        </div>
    </div>
    <div ng-if="chat.menu.audio" class="cm-contact-chat-full-menu min-scroll cm-menu-panel">
        <span ng-click="ui.fx.toggleChatMenu('contact', chat.session.session_key, 'audio');" class="glyphicon glyphicon-remove cm-close-profile pointer" style="color:red;"></span>
        <cm-audio class="cm-contact-chat-full-menu"></cm-audio>
    </div>
    <div ng-if="chat.menu.video" class="cm-contact-chat-full-menu min-scroll">
        <span ng-click="ui.fx.toggleChatMenu('contact', chat.session.session_key, 'video');" class="glyphicon glyphicon-remove cm-close-profile pointer" style="color:red;"></span>
        <cm-video></cm-video>
    </div>
    <div ng-show="chat.menu.image" class="cm-contact-chat-full-menu min-scroll cm-menu-panel">
        <span ng-click="ui.fx.toggleChatMenu('contact', chat.session.session_key, 'image');" class="glyphicon glyphicon-remove cm-close-profile pointer" style="color:red;"></span>
        <cm-image></cm-image>
    </div>
    <!-- End of Upper Chat header -->
    <div class="cm-contact-chat-panel min-scroll">
        <!-- Start of messages for an individual chat  -->
        <div class="cm-contact-message-list" scroll-to-bottom="chat.scroll.to_bottom" stick-to-bottom="chat.attr.is_bottom_lock">
            <div ng-repeat="message in chat.messages.list track by $index" style="position:relative; display: block; width: 100%; clear:both;">
                <div ng-init="message.html = ux.fx.getMessageHtml(chat.session.type, chat.session.session_key, message);" dynamic="message.html"></div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- end of chat format container -->
    </div>
    <div class="cm-contact-chat-status-bottom min-scroll">
    </div>
    <!-- end of chat message repeat -->
    <!-- end of individual message section -->
    <div class="cm-contact-chat-message-reference">
    </div>
    <textarea class="cm-contact-chat-message-input form-control pointer" spellcheck="true" auto-correct="on" autocorrect="on" autocapitalize="on" placeholder="Enter chat to {{chat.contact.profile.first_name}}... " ng-keydown="ui.fx.showContactThatUserIsTyping(chat.session.type, chat.session.session_key);" ng-model="chat.message.text" ng-enter-press=" ui.fx.sendChatMessage(chat.session.type, chat.session.session_key, false);" ng-tab-press="ui.fx.setNexTab()"></textarea>
    <div ng-click="ui.fx.toggleChatMenu('contact', chat.session.session_key, 'emoticons');" class="cm-contact-chat-emoticon-toggle"><i class="emoji emoji_smiley"></i></div>
</div>
