<div class="cm-contact-chat">
    <div ng-if="!chat.menu.topic && chat.session.topic" class="cm-contact-chat-topic-wrapper one-edge-shadow" style="color:orange;">
        <span ng-click="chat.topic.truncated = !chat.topic.truncated;" title="Topic" class="glyphicon glyphicon-pushpin pointer" style="position:absolute; left: 4px; top:10px;"></span>
        <div class="cm-contact-chat-topic min-scroll" id="{{chat.session.session_key}}:topic" maxlength=60 spellcheck="false" ng-enter="ui.fx.updateChatTopic(chat.session.type, chat.session.session_key)" ng-blur="ui.fx.updateChatTopic(chat.session.type, chat.session.session_key);" contenteditable="{{!chat.session.admin || ux.fx.hasTopicRights(chat.session.session_key)}}" ng-class="{'truncated':chat.topic.truncated == true, 'pointer' : !chat.session.admin || ux.fx.hasTopicRights(chat.session.session_key)}" ng-bind="chat.session.topic"></div>
    </div>
    <div class="cm-contact-chat-header one-edge-shadow" class="cm-main-panel-label one-edge-shadow" style="background-color:rgba({{chat.session.accent_color}}, 1);">
        <div ng-if="!chat.session.is_group_chat">
            <img class="pointer" style="position:relative; left: 2px; top:2px; width: 32px; height: 32px; pointer-events:all;" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'profile');" ng-src="{{chat.contact.profile.avatar_url}}" />
            <i ng-show="chat.session.tag" class="fa fa-slack" style="margin: 2px 0px 2px 2px;"></i><span style="margin-left:5px; font-size:1.2em; font-weight: bold;" ng-bind="chat.session.tag || chat.contact.profile.name"></span>
        </div>
        <div ng-if="chat.session.is_group_chat">
            <i class="{{chat.ux.icon}}" style="position:relative; width:35px; height:35px; left: 5px; top: 5px;" />
            <span style="position: relative; margin:0px auto; top: 5px; font-size:1.2em; font-weight: bold;" ng-bind="chat.session.tag || chat.description"></span>
            <span></span>
        </div>
        <div style="position:absolute; top: 2px; right: 2px; min-width: 1px;">
            <div ng-if="!chat.session.is_directory_chat" class="pull-right btn btn-xs btn-default pointer" ng-click="ui.fx.deactivateChat(chat.session.type, chat.session.session_key);">
                <center><span class="fa fa-times fa-1x"></span></center>
            </div>
            <div ng-if="chat.session.is_directory_chat" class="pull-right btn btn-xs btn-default pointer" ng-click="ui.fx.setMainPanelTab(0);">
                <center><span class="fa fa-times fa-1x"></span></center>
            </div>
            <div title="Toggle Notifcations" class="btn btn-xs btn-default pointer" style="min-width: 22px;" ng-click="ui.fx.toggleChatSound(chat.session.type, chat.session.session_key);">
                <center><span ng-show="chat.session.is_sound" class="fa fa-bell-o"></span><span ng-show="!chat.session.is_sound" class="fa fa-bell-slash-o"></span></center>
            </div>
            <div class="btn btn-xs btn-default pointer" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'options');">
                <center><span class="fa fa-cog"></span></center>
            </div>
        </div>
    </div>
    <div class="cm-contact-chat-status-top min-scroll">
        <div ng-if="!chat.attr.is_directory_chat && chat.menu.invite == true" class="cm-contact-chat-add-wrapper">
            <div style="position:relative; display: block; width: 100%; clear: both; min-height:25px; background: white; border-bottom: 2px solid rgb({{chat.session.accent_color}});">
                <div style="position: relative; width: 100%; min-height: 20px;">
                </div>

                <select chosen multiple ng-model="chat.invite.contact_list" ng-options="contact.user_id as contact.name for contact in profiles.list |filter: {online:true} | orderBy:'name'">
                    <option value=''>Search User</option>
                </select>
                <div style="position: relative; display: block; width: 100%; clear: both; margin-top:2px;" ng-repeat="contact in chat.invite.contact_list">
                    <div class="cm-main-panel-contact-online">
                        <img ng-src="{{contact.avatar_url}}" width=20 height=20/><span class="cm-main-panel-contact-name" ng-bind="contact.name"></span>
                        <div class="chat-status cm-main-panel-contact-status {{contact.state}}"></div>
                    </div>
                </div>
                <div class="modal-footer slim">
                    <!-- <button type="button" class="btn btn-xs btn-default slim" ng-show="chat.invite.contact_list.length">Save Group</button> -->
                    <button type="button" class="btn btn-xs btn-default slim">Cancel</button>
                    <button type="button" class="btn btn-xs btn-primary slim" ng-disabled="!chat.invite.contact_list.length" ng-click="ui.fx.inviteIntoChat(chat.session.type, chat.session.session_key);"><i class="fa fa-user-plus"></i>Invite</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div ng-if="chat.menu.color == true" class="cm-contact-chat-add-wrapper min-scroll">
            <div style="position:absolute; display: block; width: 98%; min-height: 20px; margin: 0 auto; padding: 0; background: white; border-bottom: 2px solid rgba({{chat.session.accent_color}},1);">
                <div style="position:relative; display: block; width: 100%; clear: both; height:25px;">
                    <label>Color Menu</label>
                    <div class="btn btn-default btn-xs slim pull-right" ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'color', false);"><span class="glyphicon glyphicon-remove" style="color:red;"></span></div>
                    <div class="btn btn-default btn-xs slim pull-right" ng-click="ui.fx.defaultColorScheme(chat.session.type, chat.session.session_key);">Default</div>
                </div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading slim" role="tab" id="headingOne" style="background-color:rgba({{chat.session.accent_color}}, 1);">
                            <h4 class="panel-title slim">
                            <span class="collapsed pointer"data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                              Primary
                            </span>
                          </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body slim">
                                <span ng-repeat="color in ux.colors track by $index" href="#" class="fa fa-square pointer" style="color:rgb({{color}}); border:1px solid white;" ng-click="chat.session.accent_color = color"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default slim">
                        <div class="panel-heading slim" role="tab" id="headingTwo" style="background-color:rgba({{chat.session.primary_color}}, 1);">
                            <h4 class="panel-title slim">
                                <span class="pointer collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                  Your Chats
                                </span>
                              </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                            <div class="panel-body slim">
                                <span ng-repeat="color in ux.colors track by $index" href="#" class="fa fa-square pointer" style="color:rgb({{color}});border:1px solid white;" ng-click="chat.session.primary_color = color"></span>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading slim" role="tab" id="headingThree" style="background-color:rgba({{chat.session.other_color}}, 1);border:1px solid white;">
                            <h4 class="panel-title slim">
                                <span class="collapsed pointer" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                  Other Chats
                                </span>
                              </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                            <div class="panel-body slim">
                                <span ng-repeat="color in ux.colors track by $index" href="#" class="fa fa-square pointer" style="color:rgb({{color}});" ng-click="chat.session.other_color = color"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pop up input box for adding a chat tag -->
        <form ng-if="!chat.attr.is_directory_chat && chat.menu.tag" class="cm-contact-chat-add-wrapper" ng-submit="ui.fx.setChatTag(chat.session.type, chat.session.session_key)" role="form">
            <div class="form-group slim">
                <input class="form-control" type="text" spellcheck="true" pattern=".{3,20}" maxlength=20 required title="3 characters minimum" class="form-control" placeholder="Enter a Tag for this chat..." ng-model="chat.tag.description" ng-focus="chat.attr.is_tag_focus">
            </div>
            <button type="submit" style="width:0px;" class='hidden'> </button>
        </form>
        <!-- Pop up input box for adding a topic to the chat -->
        <form ng-if="chat.menu.topic" class="cm-contact-chat-add-wrapper" ng-submit="ui.fx.setChatTopic(chat.session.type, chat.session.session_key)" role="form">
            <div class="form-group slim">
                <input class="form-control" style="height: 30px; padding: 2px;" type="text" spellcheck="true" pattern=".{5,100}" maxlength=100 required title="5 characters minimum" class="form-control" placeholder="Enter a topic for this chat..." ng-model="chat.session.topic" ng-focus="chat.attr.is_topic_focus">
            </div>
            <button type="submit" style="width:0px;" class='hidden'> </button>
        </form>
    </div>
    <div ng-show="chat.menu.options" style="position:absolute; right:0;">
        <cm-chat-settings class="cm-menu-panel"></cm-chat-settings>
    </div>
    <div ng-if="!chat.attr.is_group_chat  && chat.menu.profile" class="cm-contact-chat-full-menu min-scroll cm-menu-panel">
        <cm-contact-profile></cm-contact-profile>
    </div>
    <!-- Pop up input box for adding Tag as name of the chat -->
    <!-- end of tag input box -->
    <!-- Section for displaying Chat messages -->
    <div ng-if="chat.menu.audio" class="cm-contact-chat-full-menu min-scroll cm-menu-panel">
        <span ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'audio');" class="glyphicon glyphicon-remove cm-close-profile pointer" style="color:red;"></span>
        <cm-audio class="cm-contact-chat-full-menu"></cm-audio>
    </div>
    <div ng-if="chat.menu.video" class="cm-contact-chat-full-menu min-scroll">
        <span ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'video');" class="glyphicon glyphicon-remove cm-close-profile pointer" style="color:red;"></span>
        <cm-video></cm-video>
    </div>
    <div ng-show="chat.menu.image" class="cm-contact-chat-full-menu min-scroll cm-menu-panel">
        <span ng-click="ui.fx.toggleChatMenu(chat.session.type, chat.session.session_key, 'image');" class="glyphicon glyphicon-remove cm-close-profile pointer" style="color:red;"></span>
        <cm-image></cm-image>
    </div>
    <!-- End of Upper Chat header -->
    <div class="cm-contact-chat-panel one-edge-shadow min-scroll" ng-click="ui.fx.resetDefaultSettings(chat.session.type, chat.session.session_key);" style="border: 2px solid rgb({{chat.session.accent_color}});">
        <!-- Start of messages for an individual chat  -->
        <div id="list:{{chat.session.session_key}}" class="cm-contact-message-list" scroll-to-bottom="chat.scroll.to_bottom" stick-to-bottom="chat.attr.is_bottom_lock">
            <div ng-repeat="message in chat.messages.list track by $index" style="position:relative; display: block; width: 100%; clear:both;">
                <div ng-init="message.html = ux.fx.getMessageHtml(chat.session.type, chat.session.session_key, message);" dynamic="message.html"></div>
                <div class="clearfix"></div>
            </div>
            <div style="position:relative; display:block; width: 100%; height: 45px;" class="clearfix"></div>
        </div>
        <!-- end of chat format container -->
    </div>
    <div style="position:absolute; z-index: 2; width: 100%; left:0; right:0; bottom:0; background-color:rgba({{chat.session.accent_color}},.8); border: 2px solid rgb({{chat.session.accent_color}}); border-top:none; min-height:125px; z-index: 2;" class="pointer">
        <div style="position:absolute; bottom:30px; width:100%; z-index:2; pointer-events:all;">
            <div emoji-form>
                <textarea id="messageInput" placeholder="Enter Chat to {{chat.description || chat.contact.profile.first_name}}" ng-model="chat.message.text"></textarea>
                <button style="position: absolute; bottom:-20px; right:6px;" id="emojibtn">
                    <i class="icon icon-emoji pointer"></i>
                </button>
            </div>
        </div>
        <div class="cm-main-label-decal-description" style="position: relative; top: 5px; color: rgba({{chat.session.accent_color}}, .9);"><i style="font-size: 1.2em;" class="{{chat.ux.icon}}"></i><span style="margin-left: 5px; font-size: 1.5em;" ng-bind="chat.session.tag || chat.description ||  'Chat With ' + chat.contact.profile.first_name"></span><i style="margin-left: 5px; font-size: 1.2em;" class="{{chat.ux.icon}}"></i></div>
        <div class="cm-contact-chat-status-bottom min-scroll">
            <div ng-if="chat.signals[chat.attr.other_fb_ref].is_typing" style="position:absolute; z-index: 7; top:0px; left:0px; width: 100%; background:rgba(255,255,255,.5);">
                <i ng-show="chat.signals[chat.attr.other_fb_ref].is_typing" class="fa fa-spinner fa-2x fa-pulse cm-chat-typing-icon"></i>
                <div style="position:absolute; top:3px; left:35px;">
                    <div ng-repeat="contact in chat.signals[chat.attr.other_fb_ref].is_typing">
                        <img ng-show="contact.id !== chat.user.profile.id" class="cm-chat-typing-avatar" ng-src="{{profiles.list[profiles.map['user_' + contact.id]].avatar_url}}" />
                    </div>
                </div>
            </div>
            <div ng-if="(chat.session.type == 'contact' && !chat.session.is_group_chat && !chat.contact.profile.online) || chat.contact.presence.state == 'Offline'" class="cm-chat-offline-text full-edge-shadow">{{chat.tag.description || chat.contact.profile.first_name}} is Offline.</div>
            <div ng-if="!engine.network.online" class="cm-chat-offline-text one-edge-shadow">No Network Connection</div>
            <div ng-if=" !chat.attr.is_directory_chat && chat.attr.is_group_chat && Object.size(chat.contacts.active) < 1" class="cm-chat-offline-text one-edge-shadow">The Group Chat is Empty.</div>
            <div ng-if="chat.signals.nudge" class="cm-chat-offline-text" style="background:rgba(69,106,151,1); color:white;"><i class="fa fa-bolt chat-nudge-icon"></i> You were just nudged by {{chat.contact.profile.first_name}} <i class="fa fa-bolt chat-nudge-icon"></i></div>
        </div>
        <!-- end of chat message repeat -->
        <!-- end of individual message section -->
        <div class="cm-contact-chat-message-reference-wrapper">
            <div ng-if="!chat.attr.is_group_chat && chat.contact.profile.presence.post && chat.contact.profile.presence.message" class="cm-contact-chat-banner min-scroll">
                <span ng-bind="chat.contact.profile.presence.message"></span>
            </div>
            <div ng-show="chat.reference.text" class="cm-contact-chat-reference-text">
                <span ng-bind="'@' + chat.reference.name"></span>&nbsp;<span ng-bind-html="' : ' + chat.reference.text | colonToSmiley "></span>
            </div>
        </div>
    </div>
</div>
