<div id="cm-user-profile" class="min-scroll">
    <div style="position:relative; display: block; width: 100%; clear: both; height:25px; margin-bottom: 10px;">
        <div style="position: absolute; top: 2px; right: 5px;" ng-click="ui.fx.toggleMainPanelMenu('profile');"><span class="glyphicon glyphicon-remove pointer"></span></div>
        <div class="cm-main-label-decal one-edge-shadow">
            <div ng-class="{'cm-label-decal-description': ux.platform.browser  == 'Firefox','cm-label-decal-description-inset': ux.platform.browser  != 'Firefox'}">
                <span style="font-weight: bold; font-size: 1.5em;">Profile</span>
            </div>
        </div>
    </div>
    <div style="width:100%; display:block; min-height:20px;">
        <div style="width:40%; padding:2px; float:left">
            <!-- <img class="thumbnail one-edge-shadow" style="; clear:none; width:100%; height:100%; max-width:100%; max-height:100%; margin:0px;" ng-src="/components/com_callcenter/images/avatars/{{avatar}}-90.jpg" alt="..."> -->
            <img class="thumbnail one-edge-shadow" style="; clear:none; width:100%; height:100%; max-width:100%; max-height:100%; margin:0px;" ng-src="{{module.contact_list.setting.default_avatar}}" alt="...">
        </div>
        <div <div style="width:60%; padding:4px; float:left">
            <div class="well well-sm well-slim">
                <span class="cm-profile-span-label pointer" ng-bind="module.user.profile.name"><br></span>
                <span class="cm-profile-span pointer" ng-if="module.user.additional_profile.role" ng-bind="module.user.additional_profile.role"><br></span>
                <span class="cm-profile-span pointer" ng-if="module.user.profile.additional_profile.pc" style="font-size:.8em;">PC: {{module.user.profile.additional_profile.pc.name}}<br></span>
                <span class="cm-profile-span pointer" ng-if="module.user.profile.additional_profile.mc" style="font-size:.8em;">MC: {{module.user.profile.additional_profile.mc.name}}<br></span>
            </div>
        </div>
    </div>
    <div style="width:100%; display:block; float:left; padding:2px; margin-top:2px;">
        <div class="well well-sm well-slim">
            <span class="cm-profile-span-label">Phone</span>
            <span class="cm-profile-span pointer">{{module.user.additional_profile.phone}}</span>
            <span class="cm-profile-span-label">Email</span>
            <span class="cm-profile-span pointer">{{module.user.additional_profile.email}}</span>
        </div>
    </div>
    <div style="position:relative; display:block; width:100%; min-height: 50px; float:left; padding:2px; margin:0px; clear:none; color:black;">
        <div style="width:100%; min-height:20px; background:rgba(255,255,255,.8); border-radius:2px; margin-bottom:2px; padding:2px;">
            <center>
                <span>Chat Status: </span>
                <select class="pointer" style="color:black;" ng-model="module.user.profile.presence.state" ng-change="ui.fx.setUserChatPresence(true);">
                    <option value='Online'>Available</option>
                    <option value='Away'>Away</option>
                    <option value='Busy'>Busy</option>
                    <option value='At Lunch'>Lunch</option>
                    <option value='On Break'>Break</option>
                    <option value='Training'>Training</option>
                    <option ng-if="ux.fx.hasAdminRights()" option='Offline'>Offline</option>
                </select>
            </center>
        </div>
        <input ng-show="module.user.profile.presence.state != 'Online'" maxlength="30" class="form-control pointer" style="width: 200px; height: 25px; display:block; resize:none; margin:0 auto; margin-bottom: 2px; padding: 2px; color:black;" placeholder="Status Message" ng-model="module.user.profile.presence.message" ng-enter="ui.fx.setUserChatPresence(false);" ng-blur="ui.fx.setUserChatPresence(false)">
        <input ng-show="module.user.profile.presence.state == 'Online'" class="form-control no-select" style="width:200px;  height: 25px; display:block; resize:none; margin:0 auto; margin-bottom: 2px; padding:2px; color:black;" placeholder="N/A">
        <!--
<div ng-show="module.user.profile.presence.state != 'Online' && module.user.profile.presence.message.length" style="min-width:100px; width:100%;clear:both; padding:2px; background:rgba(255,255,255,.5); border-radius:2px; margin-bottom:2px;">
					<center>Add Message to Profile: <input ng-change="updatePresenceMessageShow()" type="checkbox" ng-model="user_profile.presence.show_message"></center>
				</div>
-->
        <div style="min-width:100px; width:100%;clear:both; padding:2px; background:rgba(255,255,255,.8); border-radius:2px;">
        <center><span ng-class="{'text-muted': !module.user.profile.presence.message.length}">Post Message to Chats:</span>
                <input  ng-class="{'pointer': module.user.profile.presence.state != 'Online' && module.user.profile.presence.message.length}" ng-change="ui.fx.setUserChatPresence(false)" type="checkbox" ng-model="module.user.profile.presence.post">
            </center>
        </div>
        <div class="cm-chat-spacer"></div>
    </div>
    <div class="clearfix"></div>
</div>
