.search-field input {
    width: 100% !important;
}

.chosen-results {
    text-align: left;
}

.active-result {
    text-align: left;
}

.pointer {
    cursor: pointer;
    pointer-events: all;
    text-decoration: none;
}

.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.no-select {
    pointer-events: none;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.Online {
    color: green;
}

.Offline,
.Invisible {
    color: grey;
}

.Busy {
    color: red;
}

.well-slim {
    margin: 2px 0px;
    padding: 2px;
}

.chat-status {
    height: 12px;
    width: 12px;
    border-radius: 50%;
}

.Active {
    background: blue;
}

.Idle {
    background: green;
}

.Inactive {
    background: orange;
}

.Away {
    background: red;
}

.Offline {
    background: #ccc;
}

.one-edge-shadow {
    -webkit-box-shadow: 0 2px 1.5px -1.5px black;
    -moz-box-shadow: 0 2px 1.5px -1.5px black;
    box-shadow: 0 2px 1.5px -1.5px black;
}

.full-edge-shadow {
    -webkit-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.75);
}

.top-edge-shadow {
    -webkit-box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px -1px 4px 1px rgba(0, 0, 0, 0.75);
}

.fade-away {
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
    animation: fadeOut 1s;
    opacity: .01;
    pointer-events: none;
}

.cm-open-icon {
    background: transparent;
    color: #456a97;
}

.cm-open-icon:hover {
    background: transparent;
    color: orange;
}

.cm-chat-spacer {
    width: 100%;
    height: 5px;
    background: transparent;
    clear: both;
}

.cm-chat-typing-icon {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 25px;
    height: 25px;
    padding: 0;
    text-align: center;
}

.cm-chat-typing-avatar {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    float: left;
    clear: none;
}

.cm-label-decal-description {
    margin: 0px auto;
    text-align: center;
    font-weight: bold;
    color: grey;
    line-height: 150%;
    padding: 0px;
}

.cm-label-decal-description-inset {
    width: 100%;
    margin: opx auto;
    text-align: center;
    font-weight: bold;
    line-height: 150%;
    background-color: #666666;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255, 255, 255, 0.5) 0px 3px 3px;
    padding: 0px;
}

.cm-chat-offline-text {
    position: absolute;
    top: 6px;
    width: 96%;
    left: 2%;
    color: red;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    padding: .5%;
    font-size: 1em;
    background: rgba(255, 255, 255, .9);
    z-index: 5;
}

.cm-main-panel-active-selection {
    background-color: #e2e2e2;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.cm-nav-icon {
    font-size: .8em;
    height: 30px;
    cursor: pointer;
    pointer-events: all;
    color: #777;
}

.cm-nav-icon:hover {
    color: #eb7b00;
}

.cm-active-tab {
    color: #eb7b00;
}

.cm-menu-panel {
    border: 2px solid #456a97;
    z-index: 8;
}

.cm-fixed-wrapper {
    position: fixed;
    right: 0;
    bottom: 0;
    height: 20px;
    pointer-events: none;
    background: transparent;
}

#cm-main-panel {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 700px;
    margin: 0;
    padding: 0;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    pointer-events: none;
    /*  background:url('/modules/mod_chat/app/img/background_05.png');  */

    background-color: #DDDDDD;
    background-position: fixed;
}

ul.nav.nav-tabs a {
    height: 15px;
    line-height: 5px;
}

ul.nav.nav-tabs a:hover {
    background: transparent;
}

#cm-main-panel-nav {
    position: relative;
    padding-bottom: 0px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0px;
}

#cm-main-panel-nav ul {
    position: relative;
    margin: 0;
    width: 100%;
}

#cm-main-panel-nav ul li {
    position: relative;
    margin: 0;
    width: 25%;
    display: inline-table;
}

#cm-main-panel-nav ul li a {
    position: relative;
    padding: 5px 1px 0px 1px;
    text-align: center;
    height: 30px;
    border: none;
}

.cm-contact-filter-menu {
    position: absolute;
    padding: 2px;
    width: 100px;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 1em;
    text-align: center;
    z-index: 123;
    border: 1px solid #ccc;
    margin-top: 2px;
    pointer-events: all;
}

#cm-main-panel-header {
    min-height: 35px;
    background-color: #456a97;
    color: white;
    width: 100%;
    margin: 0;
    clear: both;
}

.cm-main-label-decal {
    width: 100%;
    min-height: 15px;
    border: 1px solid #ccc;
    background: white;
    margin-bottom: 2px;
    padding: 0;
    margin: 2px 0 2px 0;
}

.cm-main-label-decal-description {
    margin: 0 auto;
    text-align: center;
    font-weight: bold;
    color: grey;
    line-height: 150%;
}

#cm-main-panel-header-panel {
    position: relative;
    display: block;
    min-height: 0;
    background-color: #456a97;
    color: white;
    width: 100%;
    margin: 0;
    clear: both;
}

.cm-profile-span-label {
    width: 100%;
    min-height: 10px;
    display: block;
    margin-bottom: 2px;
    text-align: center;
    font-weight: bold;
    color: #456a97;
}

.cm-main-setting-menu {
    position: relative;
    padding: 5px 2px 5px 5px;
    right: 0;
    display: block;
    width: 100%;
    background: white;
    clear: both;
    min-height: 50px;
    z-index: 1;
}

.cm-chat-setting-menu {
    position: absolute;
    padding: 5px 2px 5px 5px;
    right: 0;
    top: 34px;
    min-width: 105px;
    background: white;
    min-height: 20px;
}

.cm-chat-user-option{
    color:black;
}

#cm-user-profile {
    position: relative;
    display: block;
    width: 100%;
    padding: 5px 2px;
    margin: 0px auto;
    background: white;
    border-top: 1px solid white;
    clear: both;
    min-height: 50px;
    z-index: 8;
    pointer-events:all;
}

.cm-profile-span {
    width: 100%;
    min-height: 10px;
    display: block;
    margin-bottom: 5px;
    text-align: center;
    color: #456a97;
}

.cm-close-profile {
    position: absolute;
    right: 3px;
    top: 3px;
    cursor: pointer;
}

#cm-main-panel-content-wrapper {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
}

#cm-main-panel-upper-panel {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
}

#cm-main-panel-lower-panel {
    position: relative;
    padding: 0;
    margin: 0;
    display: block;
}

.cm-main-panel-content {
    display: block;
    margin: 0;
    max-height: 500px;
}
/*********************     tracker V   *************************/

#cm-main-panel-tracker {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    border: none;
}

.cm-main-panel-tracker-label {
    font-size: 1.2em;
    min-height: 1.2em;
    margin: 2px;
    margin-bottom: 2px;
    padding: 2px;
    text-align: center;
    background: rgba(69, 106, 151, 0.5);
    color: white;
    font-weight: bold;
    border: none;
}

.cm-main-panel-tracker-label-bottom {
    font-size: 1.2em;
    min-height: 1.2em;
    margin-bottom: 5px;
    background: rgba(69, 106, 151, 0.5);
    padding: 2px;
    font-weight: bold;
    text-align: center;
    color: white;
    border: none;
}

#cm-main-panel-tracker-content {
    padding: 5px 5px;
    border-bottom: none;
    overflow-y: auto;
    overflow-x: hidden;
    pointer-events: all;
}

.cm-main-panel-tracker-chat {
    position: relative;
    display: block;
    min-height: 10;
    width: 33%;
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 4px;
    color: #456a97;
    float: left;
    clear: none;
}

.cm-main-panel-tracker-chat-content {
    position: relative;
    background: white;
    display: block;
    min-height: 20px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px/30px;
    cursor: pointer;
    margin: 0;
}
/*********************     tracker ^   *************************/

.cm-main-panel-tracker-active-chat {
    background: #ccc;
}

.cm-main-panel-tracker-new-chat {
    background: #4787ED;
    color: white;
}

.cm-main-panel-tracker-typing {
    position: absolute;
    left: 1px;
    top: -1px;
}

.cm-main-panel-tracker-chat-truncate-title {
    position: relative;
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
    clear: none;
}

.cm-main-panel-tracker-icons {
    position: absolute;
    padding: 1px;
    width: 35%;
    font-size: 10px;
    /*      background: green; */

    right: 2px;
    ;
}
/*********************   Contacts V   *************************/

#cm-main-panel-contacts-display {
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}

#cm-main-panel-contacts-list {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
}

.cm-main-panel-contact-online {
    padding: 2px 5px;
    height: 24px;
    width: 99%;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    pointer-events: all;
}

.cm-main-panel-contact-offline {
    padding: 2px 2px;
    height: 24px;
    width: 99%;
    margin: 0 auto;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin-bottom: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    pointer-events: all;
}

.cm-main-panel-contact-offline:hover,
.cm-main-panel-contact-online:hover {
    background-color: rgba(255, 255, 255, 1);
    ;
    border-top: 1px solid rgba(255, 255, 255, 1);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
}

.cm-main-panel-contact > img {
    width: 26px;
    height: 26px;
    float: left;
}

.cm-main-panel-contact-name {
    margin-left: 5px;
    font-size: 1em;
}

.cm-main-panel-contact-status {
    position: relative;
    float: right;
    top: 5px;
    margin-right: 5px;
}

#cm-main-panel-contacts-search {
    width: 100%;
}

#cm-main-panel-contacts-search > input {
    border: none;
    background: transparent;
    width: 100%;
    padding: 5px;
    outline: none;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
/*********************     Contacts ^   *************************/
/*********************     Chat v  *************************/

.cm-contact-chat {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    background-color: white;
}

.cm-contact-chat-header {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 35px;
    z-index: 3;
    border-radius: none;
    color: white;
}

.cm-contact-chat-status-top {
    position: absolute;
    top: 35px;
    height: 35px;
    width: 100%;
    background: transparent;
    z-index: 2;
    border-radius: none;
}

.cm-contact-chat-add-wrapper {
    position: relative;
    display: block;
    margin-top: 1px;
    width: auto;
    width: 100%;
    min-height: 35px;
    pointer-events: all;
    z-index: 3;
    border-radius: none;
}

.cm-contact-chat-header-panel {
    position: absolute;
    display: block;
    min-height: 0;
    background-color: transparent;
    color: #456a97;
    width: 100%;
    margin: 0;
    clear: both;
    border-radius: none;
}

.cm-contact-chat-panel {
    position: absolute;
    top: 38px;
    bottom: 125px;
    width: 100%;
    background: transparent;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(255, 255, 255.5);
    pointer-events: all;
    z-index: 1;
}

.cm-contact-message-list {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    padding: 0 2px;
    padding-top: 35px;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.cm-contact-chat-status-bottom {
    position: absolute;
    bottom: 90px;
    height: 35px;
    width: 100%;
    /*background: rgba(0, 0, 0, .2);*/

    z-index: 2;
}

.cm-contact-chat-full-menu {
    position: absolute;
    top: 35px;
    bottom: 10px;
    width: 100%;
    background: white;
    overflow-y: scroll;
    overflow-x: hidden;
    background: rgba(255, 255, 255.2);
}

.cm-contact-chat-message-input {
    position: relative;
    padding: 0;
    bottom: 10px;
    width:auto;
    resize: none;
    min-height: 52px;
    pointer-events: all;
}

.cm-contact-chat-message-reference-wrapper {
    postion: absolute;
    margin: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 35px;
    background: rgba(255, 255, 255.2);
}

.cm-contact-chat-reference-text {
    position: absolute;
    bottom: 10px;
    left: 2px;
    right: 40px;
    background-color: rgba(98, 162, 189, 1);
    border: 1px solid rgba(98, 162, 189, 1);
    /*color: rgba(98, 162, 189, 1);*/
    color: white;
    text-align: center;
    font-weight: bold;
    padding: .5%;
    font-size: .9em;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 2;
    height: 28px;
}
/*********************     Chat  *************************/

.cm-chat-message-wrapper-full {
    margin-top: 5px;
    position: relative;
    background: white;
    display: block;
    width: 100%;
    padding: 0;
    min-height: 40px;
    word-break: break-word;
    word-wrap: break-word;
    clear: both;
    background: transparent;
}

.cm-chat-message-wrapper-ext {
    position: relative;
    background: white;
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    min-height: 15px;
    word-break: break-word;
    word-wrap: break-word;
    clear: both;
    background: transparent;
}

.cm-chat-message-author-break {
    padding-bottom: 5px;
    border-bottom: 1px solid grey;
    -webkit-box-shadow: 0 2px 1.5px -1.5px black;
    -moz-box-shadow: 0 2px 1.5px -1.5px black;
    box-shadow: 0 2px 1.5px -1.5px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.cm-chat-message-user-avatar-wrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: 1px 0 .75px .75px grey;
    -moz-box-shadow: 1px 0 .75px .75px grey;
    box-shadow: 1px 0 .75px .75px grey;
}

.cm-chat-message-contact-avatar-wrapper {
    position: absolute;
    margin: 0;
    padding: 0;
    height: 40px;
    width: 40px;
    right: 0;
    -webkit-box-shadow: -2px 0 .75px .75px grey;
    -moz-box-shadow: -2px 0 .75px .75px grey;
    box-shadow: -2px 0 .75px .75px grey;
    background-color: transparent;
}

.cm-chat-message-avatar {
    margin: auto;
    max-width: 40px;
    max-height: 40px;
}

.cm-chat-message-user-content-wrapper-full {
    position: relative;
    margin: 0;
    padding: 2px 2px 5px 2px;
    min-height: 40px;
    margin-left: 40px;
    width: auto;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: rgba(98, 162, 189, .4);
    color: rgba(98, 162, 189, 1);
    padding-top: 22px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cm-chat-message-user-content-wrapper-ext {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 20px;
    margin-left: 40px;
    width: auto;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    background-color: rgba(98, 162, 189, .4);
    color: rgba(98, 162, 189, 1);
}

.cm-chat-message-contact-content-wrapper-full {
    position: relative;
    margin: 0;
    padding: 2px 2px 5px 2px;
    min-height: 40px;
    margin-right: 40px;
    width: auto;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding-top: 22px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cm-chat-message-contact-content-wrapper-ext {
    position: relative;
    margin: 0;
    padding: 2px 2px 5px 2px;
    min-height: 20px;
    width: auto;
    margin-right: 40px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
}

.cm-chat-message-user-header-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 2px 5px;
    width: 100%;
    min-height: 15px;
    clear: both;
    font-size: .8em;
    font-weight: bold;
    background-color: rgba(98, 162, 189, .4);
    color: white;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cm-chat-message-contact-header-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin: 0;
    padding: 2px 5px;
    width: 100%;
    min-height: 15px;
    font-size: .8em;
    font-weight: bold;
    color: white;
    clear: both;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.cm-chat-message-text-wrapper-full {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 5px 0 5px;
    width: 100%;
    min-height: 14px;
    clear: both;
}

.cm-chat-message-text-wrapper-ext {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 5px 2px 5px;
    width: 100%;
    min-height: 14px;
    clear: both;
}

.cm-chat-message-text {
    position: relative;
    display: block;
    width: 100%;
    pointer-events: all;
    text-decoration: none;
    cursor: pointer;
}

.cm-chat-message-text-ref {
    position: relative;
    margin: 0;
    width: 100%;
    min-height: 14px;
    clear: both;
    font-size: .8em;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid white;
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 2px;
}

.cm-chat-message-text-ref-self {
    background: rgba(255, 255, 255, .6);
    border: 1px solid orange;
    cursor: pointer;
}

.cm-chat-message-text-ref-other {
    background: rgba(255, 255, 255, .6);
    cursor: pointer;
}

.cm-chat-reference-animation-style {
    color: rgba(235, 123, 0, .9);
}

.cm-chat-reference-animation {
    -webkit-animation: bounce 1s;
    -moz-animation: bounce 1s;
    -ms-animation: bounce 1s;
    animation: bounce 1s;
    -vendor-animation-iteration-count: 1;
}

.cm-contact-chat-emoticon-toggle {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

.cm-contact-chat-extend-timestamp {
    margin: 0px;
    margin-left: 2px;
    margin-right: 2px;
    width: auto;
    padding: 0px;
    position: relative;
    min-height: 1em;
    font-size: .7em;
    text-align: center;
    border: 1px solid #ccc;
    font-weight: bold;
    line-height: 10px;
    border-radius: 5px 20px 5px;
    background: rgba(255, 255, 255, .3);
    clear: both;
}

.cm-contact-chat-topic-wrapper {
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    min-height: 35px;
    width: 100%;
    text-align: left;
    font-weight: bold;
    font-size: .9em;
    z-index: 6;
    background: #ffffff;
    /* Old browsers */

    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
    /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Chrome10+,Safari5.1+ */

    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* Opera 11.10+ */

    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
    /* IE10+ */

    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    /* W3C */

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0);
    /* IE6-9 */
}

.cm-contact-chat-topic {
    position: relative;
    display: block;
    min-height: 35px;
    margin-left: 15px;
    margin-right: 15px;
    width: auto;
    top: 0;
    padding: 10px 5px;
    outline: none;
}

.cm-contact-chat-banner {
    position: absolute;
    right: 40px;
    left: 2px;
    bottom: 11px;
    min-height: 25px;
    max-height: 200px;
    font-weight: bold;
    text-align: center;
    background: rgba(98, 149, 140, .9);
    color: red;
    padding: 5px;
    pointer-events: all;
    z-index: 2;
}
